<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.sq.mappers.AdminMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.sq.entity.Admin" >
    <id column="AdminID" property="adminid" jdbcType="INTEGER" />
    <result column="AdminName" property="adminname" jdbcType="VARCHAR" />
    <result column="AdminPwd" property="adminpwd" jdbcType="VARCHAR" />
    <result column="AdminType" property="admintype" jdbcType="SMALLINT" />
    <result column="LastLoginTime" property="lastlogintime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    AdminID, AdminName, AdminPwd, AdminType, LastLoginTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from admin
    where AdminID = #{adminid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from admin
    where AdminID = #{adminid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.sq.entity.Admin" >
    insert into admin (AdminID, AdminName, AdminPwd, 
      AdminType, LastLoginTime)
    values (#{adminid,jdbcType=INTEGER}, #{adminname,jdbcType=VARCHAR}, #{adminpwd,jdbcType=VARCHAR}, 
      #{admintype,jdbcType=SMALLINT}, #{lastlogintime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.sq.entity.Admin" >
    insert into admin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="adminid != null" >
        AdminID,
      </if>
      <if test="adminname != null" >
        AdminName,
      </if>
      <if test="adminpwd != null" >
        AdminPwd,
      </if>
      <if test="admintype != null" >
        AdminType,
      </if>
      <if test="lastlogintime != null" >
        LastLoginTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="adminid != null" >
        #{adminid,jdbcType=INTEGER},
      </if>
      <if test="adminname != null" >
        #{adminname,jdbcType=VARCHAR},
      </if>
      <if test="adminpwd != null" >
        #{adminpwd,jdbcType=VARCHAR},
      </if>
      <if test="admintype != null" >
        #{admintype,jdbcType=SMALLINT},
      </if>
      <if test="lastlogintime != null" >
        #{lastlogintime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.sq.entity.Admin" >
    update admin
    <set >
      <if test="adminname != null" >
        AdminName = #{adminname,jdbcType=VARCHAR},
      </if>
      <if test="adminpwd != null" >
        AdminPwd = #{adminpwd,jdbcType=VARCHAR},
      </if>
      <if test="admintype != null" >
        AdminType = #{admintype,jdbcType=SMALLINT},
      </if>
      <if test="lastlogintime != null" >
        LastLoginTime = #{lastlogintime,jdbcType=VARCHAR},
      </if>
    </set>
    where AdminID = #{adminid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.sq.entity.Admin" >
    update admin
    set AdminName = #{adminname,jdbcType=VARCHAR},
      AdminPwd = #{adminpwd,jdbcType=VARCHAR},
      AdminType = #{admintype,jdbcType=SMALLINT},
      LastLoginTime = #{lastlogintime,jdbcType=VARCHAR}
    where AdminID = #{adminid,jdbcType=INTEGER}
  </update>
</mapper>