<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.sq.mappers.CdcOptLogMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.sq.entity.CdcOptLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="学号" jdbcType="VARCHAR" property="学号" />
    <result column="操作" jdbcType="INTEGER" property="操作" />
  </resultMap>
  <sql id="Base_Column_List">
    id, 学号, 操作
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cdc_opt_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cdc_opt_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.sq.entity.CdcOptLog">
    insert into cdc_opt_log (id, 学号, 操作)
    values (#{id,jdbcType=INTEGER}, #{学号,jdbcType=VARCHAR}, #{操作,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.sq.entity.CdcOptLog">
    insert into cdc_opt_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="学号 != null">
        学号,
      </if>
      <if test="操作 != null">
        操作,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="学号 != null">
        #{学号,jdbcType=VARCHAR},
      </if>
      <if test="操作 != null">
        #{操作,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.sq.entity.CdcOptLog">
    update cdc_opt_log
    <set>
      <if test="学号 != null">
        学号 = #{学号,jdbcType=VARCHAR},
      </if>
      <if test="操作 != null">
        操作 = #{操作,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.sq.entity.CdcOptLog">
    update cdc_opt_log
    set 学号 = #{学号,jdbcType=VARCHAR},
      操作 = #{操作,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.example.demo.sq.entity.CdcOptLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="no" jdbcType="VARCHAR" property="no" />
    <result column="operate" jdbcType="INTEGER" property="operate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, no, operate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cdc_opt_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cdc_opt_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.sq.entity.CdcOptLog">
    insert into cdc_opt_log (id, no, operate
      )
    values (#{id,jdbcType=INTEGER}, #{no,jdbcType=VARCHAR}, #{operate,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.sq.entity.CdcOptLog">
    insert into cdc_opt_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="no != null">
        no,
      </if>
      <if test="operate != null">
        operate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="no != null">
        #{no,jdbcType=VARCHAR},
      </if>
      <if test="operate != null">
        #{operate,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.sq.entity.CdcOptLog">
    update cdc_opt_log
    <set>
      <if test="no != null">
        no = #{no,jdbcType=VARCHAR},
      </if>
      <if test="operate != null">
        operate = #{operate,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.sq.entity.CdcOptLog">
    update cdc_opt_log
    set no = #{no,jdbcType=VARCHAR},
      operate = #{operate,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.example.demo.sq.entity.CdcOptLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="no" jdbcType="VARCHAR" property="no" />
    <result column="operate" jdbcType="INTEGER" property="operate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, no, operate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cdc_opt_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cdc_opt_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.sq.entity.CdcOptLog">
    insert into cdc_opt_log (id, no, operate
      )
    values (#{id,jdbcType=INTEGER}, #{no,jdbcType=VARCHAR}, #{operate,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.sq.entity.CdcOptLog">
    insert into cdc_opt_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="no != null">
        no,
      </if>
      <if test="operate != null">
        operate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="no != null">
        #{no,jdbcType=VARCHAR},
      </if>
      <if test="operate != null">
        #{operate,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.sq.entity.CdcOptLog">
    update cdc_opt_log
    <set>
      <if test="no != null">
        no = #{no,jdbcType=VARCHAR},
      </if>
      <if test="operate != null">
        operate = #{operate,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.sq.entity.CdcOptLog">
    update cdc_opt_log
    set no = #{no,jdbcType=VARCHAR},
      operate = #{operate,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>