<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.sq.mappers.CdcTimeLogMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.sq.entity.CdcTimeLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="lastTimeOperate" jdbcType="DATE" property="lasttimeoperate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, lastTimeOperate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cdc_time_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cdc_time_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.sq.entity.CdcTimeLog">
    insert into cdc_time_log (id, lastTimeOperate)
    values (#{id,jdbcType=INTEGER}, #{lasttimeoperate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.sq.entity.CdcTimeLog">
    insert into cdc_time_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="lasttimeoperate != null">
        lastTimeOperate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="lasttimeoperate != null">
        #{lasttimeoperate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.sq.entity.CdcTimeLog">
    update cdc_time_log
    <set>
      <if test="lasttimeoperate != null">
        lastTimeOperate = #{lasttimeoperate,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.sq.entity.CdcTimeLog">
    update cdc_time_log
    set lastTimeOperate = #{lasttimeoperate,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.example.demo.sq.entity.CdcTimeLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="上次执行时间" jdbcType="DATE" property="上次执行时间" />
  </resultMap>
  <sql id="Base_Column_List">
    id, 上次执行时间
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cdc_time_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cdc_time_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.sq.entity.CdcTimeLog">
    insert into cdc_time_log (id, 上次执行时间)
    values (#{id,jdbcType=INTEGER}, #{上次执行时间,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.sq.entity.CdcTimeLog">
    insert into cdc_time_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="上次执行时间 != null">
        上次执行时间,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="上次执行时间 != null">
        #{上次执行时间,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.sq.entity.CdcTimeLog">
    update cdc_time_log
    <set>
      <if test="上次执行时间 != null">
        上次执行时间 = #{上次执行时间,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.sq.entity.CdcTimeLog">
    update cdc_time_log
    set 上次执行时间 = #{上次执行时间,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.example.demo.sq.entity.CdcTimeLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="lastTimeOperate" jdbcType="DATE" property="lasttimeoperate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, lastTimeOperate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cdc_time_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cdc_time_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.sq.entity.CdcTimeLog">
    insert into cdc_time_log (id, lastTimeOperate)
    values (#{id,jdbcType=INTEGER}, #{lasttimeoperate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.sq.entity.CdcTimeLog">
    insert into cdc_time_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="lasttimeoperate != null">
        lastTimeOperate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="lasttimeoperate != null">
        #{lasttimeoperate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.sq.entity.CdcTimeLog">
    update cdc_time_log
    <set>
      <if test="lasttimeoperate != null">
        lastTimeOperate = #{lasttimeoperate,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.sq.entity.CdcTimeLog">
    update cdc_time_log
    set lastTimeOperate = #{lasttimeoperate,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>