<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.sq.mappers.CheckingInMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.sq.entity.CheckingIn" >
    <id column="ckin_id" property="ckinId" jdbcType="VARCHAR" />
    <result column="ckin_content" property="ckinContent" jdbcType="VARCHAR" />
    <result column="ckin_times" property="ckinTimes" jdbcType="VARCHAR" />
    <result column="ckin_date" property="ckinDate" jdbcType="DATE" />
    <result column="username" property="username" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ckin_id, ckin_content, ckin_times, ckin_date, username
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from checking_in
    where ckin_id = #{ckinId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from checking_in
    where ckin_id = #{ckinId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.demo.sq.entity.CheckingIn" >
    insert into checking_in (ckin_id, ckin_content, ckin_times, 
      ckin_date, username)
    values (#{ckinId,jdbcType=VARCHAR}, #{ckinContent,jdbcType=VARCHAR}, #{ckinTimes,jdbcType=VARCHAR}, 
      #{ckinDate,jdbcType=DATE}, #{username,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.sq.entity.CheckingIn" >
    insert into checking_in
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ckinId != null" >
        ckin_id,
      </if>
      <if test="ckinContent != null" >
        ckin_content,
      </if>
      <if test="ckinTimes != null" >
        ckin_times,
      </if>
      <if test="ckinDate != null" >
        ckin_date,
      </if>
      <if test="username != null" >
        username,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ckinId != null" >
        #{ckinId,jdbcType=VARCHAR},
      </if>
      <if test="ckinContent != null" >
        #{ckinContent,jdbcType=VARCHAR},
      </if>
      <if test="ckinTimes != null" >
        #{ckinTimes,jdbcType=VARCHAR},
      </if>
      <if test="ckinDate != null" >
        #{ckinDate,jdbcType=DATE},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.sq.entity.CheckingIn" >
    update checking_in
    <set >
      <if test="ckinContent != null" >
        ckin_content = #{ckinContent,jdbcType=VARCHAR},
      </if>
      <if test="ckinTimes != null" >
        ckin_times = #{ckinTimes,jdbcType=VARCHAR},
      </if>
      <if test="ckinDate != null" >
        ckin_date = #{ckinDate,jdbcType=DATE},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
    </set>
    where ckin_id = #{ckinId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.sq.entity.CheckingIn" >
    update checking_in
    set ckin_content = #{ckinContent,jdbcType=VARCHAR},
      ckin_times = #{ckinTimes,jdbcType=VARCHAR},
      ckin_date = #{ckinDate,jdbcType=DATE},
      username = #{username,jdbcType=VARCHAR}
    where ckin_id = #{ckinId,jdbcType=VARCHAR}
  </update>
</mapper>