<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.sq.mappers.EpidemicStatisticMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.sq.entity.EpidemicStatistic">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="epidDeter" jdbcType="INTEGER" property="epiddeter" />
    <result column="epidSuspd" jdbcType="INTEGER" property="epidsuspd" />
    <result column="epidNow" jdbcType="INTEGER" property="epidnow" />
    <result column="dateTime" jdbcType="DATE" property="datetime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, epidDeter, epidSuspd, epidNow, dateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from epidemic_statistic
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from epidemic_statistic
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.sq.entity.EpidemicStatistic">
    insert into epidemic_statistic (id, epidDeter, epidSuspd, 
      epidNow, dateTime)
    values (#{id,jdbcType=INTEGER}, #{epiddeter,jdbcType=INTEGER}, #{epidsuspd,jdbcType=INTEGER}, 
      #{epidnow,jdbcType=INTEGER}, #{datetime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.sq.entity.EpidemicStatistic">
    insert into epidemic_statistic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="epiddeter != null">
        epidDeter,
      </if>
      <if test="epidsuspd != null">
        epidSuspd,
      </if>
      <if test="epidnow != null">
        epidNow,
      </if>
      <if test="datetime != null">
        dateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="epiddeter != null">
        #{epiddeter,jdbcType=INTEGER},
      </if>
      <if test="epidsuspd != null">
        #{epidsuspd,jdbcType=INTEGER},
      </if>
      <if test="epidnow != null">
        #{epidnow,jdbcType=INTEGER},
      </if>
      <if test="datetime != null">
        #{datetime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.sq.entity.EpidemicStatistic">
    update epidemic_statistic
    <set>
      <if test="epiddeter != null">
        epidDeter = #{epiddeter,jdbcType=INTEGER},
      </if>
      <if test="epidsuspd != null">
        epidSuspd = #{epidsuspd,jdbcType=INTEGER},
      </if>
      <if test="epidnow != null">
        epidNow = #{epidnow,jdbcType=INTEGER},
      </if>
      <if test="datetime != null">
        dateTime = #{datetime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.sq.entity.EpidemicStatistic">
    update epidemic_statistic
    set epidDeter = #{epiddeter,jdbcType=INTEGER},
      epidSuspd = #{epidsuspd,jdbcType=INTEGER},
      epidNow = #{epidnow,jdbcType=INTEGER},
      dateTime = #{datetime,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.example.demo.sq.entity.EpidemicStatistic">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="epidDeter" jdbcType="INTEGER" property="epiddeter" />
    <result column="epidSuspd" jdbcType="INTEGER" property="epidsuspd" />
    <result column="epidNow" jdbcType="INTEGER" property="epidnow" />
    <result column="dateTime" jdbcType="DATE" property="datetime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, epidDeter, epidSuspd, epidNow, dateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from epidemic_statistic
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from epidemic_statistic
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.sq.entity.EpidemicStatistic">
    insert into epidemic_statistic (id, epidDeter, epidSuspd, 
      epidNow, dateTime)
    values (#{id,jdbcType=INTEGER}, #{epiddeter,jdbcType=INTEGER}, #{epidsuspd,jdbcType=INTEGER}, 
      #{epidnow,jdbcType=INTEGER}, #{datetime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.sq.entity.EpidemicStatistic">
    insert into epidemic_statistic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="epiddeter != null">
        epidDeter,
      </if>
      <if test="epidsuspd != null">
        epidSuspd,
      </if>
      <if test="epidnow != null">
        epidNow,
      </if>
      <if test="datetime != null">
        dateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="epiddeter != null">
        #{epiddeter,jdbcType=INTEGER},
      </if>
      <if test="epidsuspd != null">
        #{epidsuspd,jdbcType=INTEGER},
      </if>
      <if test="epidnow != null">
        #{epidnow,jdbcType=INTEGER},
      </if>
      <if test="datetime != null">
        #{datetime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.sq.entity.EpidemicStatistic">
    update epidemic_statistic
    <set>
      <if test="epiddeter != null">
        epidDeter = #{epiddeter,jdbcType=INTEGER},
      </if>
      <if test="epidsuspd != null">
        epidSuspd = #{epidsuspd,jdbcType=INTEGER},
      </if>
      <if test="epidnow != null">
        epidNow = #{epidnow,jdbcType=INTEGER},
      </if>
      <if test="datetime != null">
        dateTime = #{datetime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.sq.entity.EpidemicStatistic">
    update epidemic_statistic
    set epidDeter = #{epiddeter,jdbcType=INTEGER},
      epidSuspd = #{epidsuspd,jdbcType=INTEGER},
      epidNow = #{epidnow,jdbcType=INTEGER},
      dateTime = #{datetime,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.example.demo.sq.entity.EpidemicStatistic">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="epidDeter" jdbcType="INTEGER" property="epiddeter" />
    <result column="epidSuspd" jdbcType="INTEGER" property="epidsuspd" />
    <result column="epidNow" jdbcType="INTEGER" property="epidnow" />
    <result column="dateTime" jdbcType="DATE" property="datetime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, epidDeter, epidSuspd, epidNow, dateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from epidemic_statistic
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from epidemic_statistic
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.sq.entity.EpidemicStatistic">
    insert into epidemic_statistic (id, epidDeter, epidSuspd, 
      epidNow, dateTime)
    values (#{id,jdbcType=INTEGER}, #{epiddeter,jdbcType=INTEGER}, #{epidsuspd,jdbcType=INTEGER}, 
      #{epidnow,jdbcType=INTEGER}, #{datetime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.sq.entity.EpidemicStatistic">
    insert into epidemic_statistic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="epiddeter != null">
        epidDeter,
      </if>
      <if test="epidsuspd != null">
        epidSuspd,
      </if>
      <if test="epidnow != null">
        epidNow,
      </if>
      <if test="datetime != null">
        dateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="epiddeter != null">
        #{epiddeter,jdbcType=INTEGER},
      </if>
      <if test="epidsuspd != null">
        #{epidsuspd,jdbcType=INTEGER},
      </if>
      <if test="epidnow != null">
        #{epidnow,jdbcType=INTEGER},
      </if>
      <if test="datetime != null">
        #{datetime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.sq.entity.EpidemicStatistic">
    update epidemic_statistic
    <set>
      <if test="epiddeter != null">
        epidDeter = #{epiddeter,jdbcType=INTEGER},
      </if>
      <if test="epidsuspd != null">
        epidSuspd = #{epidsuspd,jdbcType=INTEGER},
      </if>
      <if test="epidnow != null">
        epidNow = #{epidnow,jdbcType=INTEGER},
      </if>
      <if test="datetime != null">
        dateTime = #{datetime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.sq.entity.EpidemicStatistic">
    update epidemic_statistic
    set epidDeter = #{epiddeter,jdbcType=INTEGER},
      epidSuspd = #{epidsuspd,jdbcType=INTEGER},
      epidNow = #{epidnow,jdbcType=INTEGER},
      dateTime = #{datetime,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>