<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.sq.mappers.FilmListMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.sq.entity.FilmList" >
    <result column="FID" property="fid" jdbcType="SMALLINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="category" property="category" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="length" property="length" jdbcType="SMALLINT" />
    <result column="rating" property="rating" jdbcType="CHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.example.demo.sq.entity.FilmListWithBLOBs" extends="BaseResultMap" >
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
    <result column="actors" property="actors" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Blob_Column_List" >
    description, actors
  </sql>
  <insert id="insert" parameterType="com.example.demo.sq.entity.FilmListWithBLOBs" >
    insert into film_list (FID, title, category, 
      price, length, rating, 
      description, actors)
    values (#{fid,jdbcType=SMALLINT}, #{title,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{length,jdbcType=SMALLINT}, #{rating,jdbcType=CHAR}, 
      #{description,jdbcType=LONGVARCHAR}, #{actors,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.sq.entity.FilmListWithBLOBs" >
    insert into film_list
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fid != null" >
        FID,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="category != null" >
        category,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="length != null" >
        length,
      </if>
      <if test="rating != null" >
        rating,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="actors != null" >
        actors,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fid != null" >
        #{fid,jdbcType=SMALLINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="length != null" >
        #{length,jdbcType=SMALLINT},
      </if>
      <if test="rating != null" >
        #{rating,jdbcType=CHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="actors != null" >
        #{actors,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>