<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.sq.mappers.HelpCategoryMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.sq.entity.HelpCategory" >
    <id column="help_category_id" property="helpCategoryId" jdbcType="SMALLINT" />
    <result column="name" property="name" jdbcType="CHAR" />
    <result column="parent_category_id" property="parentCategoryId" jdbcType="SMALLINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.example.demo.sq.entity.HelpCategory" extends="BaseResultMap" >
    <result column="url" property="url" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    help_category_id, name, parent_category_id
  </sql>
  <sql id="Blob_Column_List" >
    url
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Short" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from help_category
    where help_category_id = #{helpCategoryId,jdbcType=SMALLINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    delete from help_category
    where help_category_id = #{helpCategoryId,jdbcType=SMALLINT}
  </delete>
  <insert id="insert" parameterType="com.example.demo.sq.entity.HelpCategory" >
    insert into help_category (help_category_id, name, parent_category_id, 
      url)
    values (#{helpCategoryId,jdbcType=SMALLINT}, #{name,jdbcType=CHAR}, #{parentCategoryId,jdbcType=SMALLINT}, 
      #{url,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.sq.entity.HelpCategory" >
    insert into help_category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="helpCategoryId != null" >
        help_category_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="parentCategoryId != null" >
        parent_category_id,
      </if>
      <if test="url != null" >
        url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="helpCategoryId != null" >
        #{helpCategoryId,jdbcType=SMALLINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=CHAR},
      </if>
      <if test="parentCategoryId != null" >
        #{parentCategoryId,jdbcType=SMALLINT},
      </if>
      <if test="url != null" >
        #{url,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.sq.entity.HelpCategory" >
    update help_category
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=CHAR},
      </if>
      <if test="parentCategoryId != null" >
        parent_category_id = #{parentCategoryId,jdbcType=SMALLINT},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where help_category_id = #{helpCategoryId,jdbcType=SMALLINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.example.demo.sq.entity.HelpCategory" >
    update help_category
    set name = #{name,jdbcType=CHAR},
      parent_category_id = #{parentCategoryId,jdbcType=SMALLINT},
      url = #{url,jdbcType=LONGVARCHAR}
    where help_category_id = #{helpCategoryId,jdbcType=SMALLINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.sq.entity.HelpCategory" >
    update help_category
    set name = #{name,jdbcType=CHAR},
      parent_category_id = #{parentCategoryId,jdbcType=SMALLINT}
    where help_category_id = #{helpCategoryId,jdbcType=SMALLINT}
  </update>
</mapper>