<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.sq.mappers.HelpRelationMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.sq.entity.HelpRelationKey" >
    <id column="help_keyword_id" property="helpKeywordId" jdbcType="INTEGER" />
    <id column="help_topic_id" property="helpTopicId" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.example.demo.sq.entity.HelpRelationKey" >
    delete from help_relation
    where help_keyword_id = #{helpKeywordId,jdbcType=INTEGER}
      and help_topic_id = #{helpTopicId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.sq.entity.HelpRelationKey" >
    insert into help_relation (help_keyword_id, help_topic_id)
    values (#{helpKeywordId,jdbcType=INTEGER}, #{helpTopicId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.sq.entity.HelpRelationKey" >
    insert into help_relation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="helpKeywordId != null" >
        help_keyword_id,
      </if>
      <if test="helpTopicId != null" >
        help_topic_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="helpKeywordId != null" >
        #{helpKeywordId,jdbcType=INTEGER},
      </if>
      <if test="helpTopicId != null" >
        #{helpTopicId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>