<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.sq.mappers.HostSummaryByFileIoTypeMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.sq.entity.HostSummaryByFileIoType" >
    <result column="host" property="host" jdbcType="VARCHAR" />
    <result column="event_name" property="eventName" jdbcType="VARCHAR" />
    <result column="total" property="total" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.example.demo.sq.entity.HostSummaryByFileIoTypeWithBLOBs" extends="BaseResultMap" >
    <result column="total_latency" property="totalLatency" jdbcType="LONGVARCHAR" />
    <result column="max_latency" property="maxLatency" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Blob_Column_List" >
    total_latency, max_latency
  </sql>
  <insert id="insert" parameterType="com.example.demo.sq.entity.HostSummaryByFileIoTypeWithBLOBs" >
    insert into host_summary_by_file_io_type (host, event_name, total, 
      total_latency, max_latency)
    values (#{host,jdbcType=VARCHAR}, #{eventName,jdbcType=VARCHAR}, #{total,jdbcType=BIGINT}, 
      #{totalLatency,jdbcType=LONGVARCHAR}, #{maxLatency,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.sq.entity.HostSummaryByFileIoTypeWithBLOBs" >
    insert into host_summary_by_file_io_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="host != null" >
        host,
      </if>
      <if test="eventName != null" >
        event_name,
      </if>
      <if test="total != null" >
        total,
      </if>
      <if test="totalLatency != null" >
        total_latency,
      </if>
      <if test="maxLatency != null" >
        max_latency,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="host != null" >
        #{host,jdbcType=VARCHAR},
      </if>
      <if test="eventName != null" >
        #{eventName,jdbcType=VARCHAR},
      </if>
      <if test="total != null" >
        #{total,jdbcType=BIGINT},
      </if>
      <if test="totalLatency != null" >
        #{totalLatency,jdbcType=LONGVARCHAR},
      </if>
      <if test="maxLatency != null" >
        #{maxLatency,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>