<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.sq.mappers.InnodbIndexStatsMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.sq.entity.InnodbIndexStats" >
    <id column="database_name" property="databaseName" jdbcType="VARCHAR" />
    <id column="table_name" property="tableName" jdbcType="VARCHAR" />
    <id column="index_name" property="indexName" jdbcType="VARCHAR" />
    <id column="stat_name" property="statName" jdbcType="VARCHAR" />
    <result column="last_update" property="lastUpdate" jdbcType="TIMESTAMP" />
    <result column="stat_value" property="statValue" jdbcType="BIGINT" />
    <result column="sample_size" property="sampleSize" jdbcType="BIGINT" />
    <result column="stat_description" property="statDescription" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    database_name, table_name, index_name, stat_name, last_update, stat_value, sample_size, 
    stat_description
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.example.demo.sq.entity.InnodbIndexStatsKey" >
    select 
    <include refid="Base_Column_List" />
    from innodb_index_stats
    where database_name = #{databaseName,jdbcType=VARCHAR}
      and table_name = #{tableName,jdbcType=VARCHAR}
      and index_name = #{indexName,jdbcType=VARCHAR}
      and stat_name = #{statName,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.example.demo.sq.entity.InnodbIndexStatsKey" >
    delete from innodb_index_stats
    where database_name = #{databaseName,jdbcType=VARCHAR}
      and table_name = #{tableName,jdbcType=VARCHAR}
      and index_name = #{indexName,jdbcType=VARCHAR}
      and stat_name = #{statName,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.demo.sq.entity.InnodbIndexStats" >
    insert into innodb_index_stats (database_name, table_name, index_name, 
      stat_name, last_update, stat_value, 
      sample_size, stat_description)
    values (#{databaseName,jdbcType=VARCHAR}, #{tableName,jdbcType=VARCHAR}, #{indexName,jdbcType=VARCHAR}, 
      #{statName,jdbcType=VARCHAR}, #{lastUpdate,jdbcType=TIMESTAMP}, #{statValue,jdbcType=BIGINT}, 
      #{sampleSize,jdbcType=BIGINT}, #{statDescription,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.sq.entity.InnodbIndexStats" >
    insert into innodb_index_stats
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="databaseName != null" >
        database_name,
      </if>
      <if test="tableName != null" >
        table_name,
      </if>
      <if test="indexName != null" >
        index_name,
      </if>
      <if test="statName != null" >
        stat_name,
      </if>
      <if test="lastUpdate != null" >
        last_update,
      </if>
      <if test="statValue != null" >
        stat_value,
      </if>
      <if test="sampleSize != null" >
        sample_size,
      </if>
      <if test="statDescription != null" >
        stat_description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="databaseName != null" >
        #{databaseName,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null" >
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="indexName != null" >
        #{indexName,jdbcType=VARCHAR},
      </if>
      <if test="statName != null" >
        #{statName,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdate != null" >
        #{lastUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="statValue != null" >
        #{statValue,jdbcType=BIGINT},
      </if>
      <if test="sampleSize != null" >
        #{sampleSize,jdbcType=BIGINT},
      </if>
      <if test="statDescription != null" >
        #{statDescription,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.sq.entity.InnodbIndexStats" >
    update innodb_index_stats
    <set >
      <if test="lastUpdate != null" >
        last_update = #{lastUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="statValue != null" >
        stat_value = #{statValue,jdbcType=BIGINT},
      </if>
      <if test="sampleSize != null" >
        sample_size = #{sampleSize,jdbcType=BIGINT},
      </if>
      <if test="statDescription != null" >
        stat_description = #{statDescription,jdbcType=VARCHAR},
      </if>
    </set>
    where database_name = #{databaseName,jdbcType=VARCHAR}
      and table_name = #{tableName,jdbcType=VARCHAR}
      and index_name = #{indexName,jdbcType=VARCHAR}
      and stat_name = #{statName,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.sq.entity.InnodbIndexStats" >
    update innodb_index_stats
    set last_update = #{lastUpdate,jdbcType=TIMESTAMP},
      stat_value = #{statValue,jdbcType=BIGINT},
      sample_size = #{sampleSize,jdbcType=BIGINT},
      stat_description = #{statDescription,jdbcType=VARCHAR}
    where database_name = #{databaseName,jdbcType=VARCHAR}
      and table_name = #{tableName,jdbcType=VARCHAR}
      and index_name = #{indexName,jdbcType=VARCHAR}
      and stat_name = #{statName,jdbcType=VARCHAR}
  </update>
</mapper>