<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.sq.mappers.InnodbSysTablestatsMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.sq.entity.InnodbSysTablestats" >
    <result column="TABLE_ID" property="tableId" jdbcType="BIGINT" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="STATS_INITIALIZED" property="statsInitialized" jdbcType="VARCHAR" />
    <result column="NUM_ROWS" property="numRows" jdbcType="BIGINT" />
    <result column="CLUST_INDEX_SIZE" property="clustIndexSize" jdbcType="BIGINT" />
    <result column="OTHER_INDEX_SIZE" property="otherIndexSize" jdbcType="BIGINT" />
    <result column="MODIFIED_COUNTER" property="modifiedCounter" jdbcType="BIGINT" />
    <result column="AUTOINC" property="autoinc" jdbcType="BIGINT" />
    <result column="REF_COUNT" property="refCount" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.sq.entity.InnodbSysTablestats" >
    insert into INNODB_SYS_TABLESTATS (TABLE_ID, NAME, STATS_INITIALIZED, 
      NUM_ROWS, CLUST_INDEX_SIZE, OTHER_INDEX_SIZE, 
      MODIFIED_COUNTER, AUTOINC, REF_COUNT
      )
    values (#{tableId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{statsInitialized,jdbcType=VARCHAR}, 
      #{numRows,jdbcType=BIGINT}, #{clustIndexSize,jdbcType=BIGINT}, #{otherIndexSize,jdbcType=BIGINT}, 
      #{modifiedCounter,jdbcType=BIGINT}, #{autoinc,jdbcType=BIGINT}, #{refCount,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.sq.entity.InnodbSysTablestats" >
    insert into INNODB_SYS_TABLESTATS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tableId != null" >
        TABLE_ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="statsInitialized != null" >
        STATS_INITIALIZED,
      </if>
      <if test="numRows != null" >
        NUM_ROWS,
      </if>
      <if test="clustIndexSize != null" >
        CLUST_INDEX_SIZE,
      </if>
      <if test="otherIndexSize != null" >
        OTHER_INDEX_SIZE,
      </if>
      <if test="modifiedCounter != null" >
        MODIFIED_COUNTER,
      </if>
      <if test="autoinc != null" >
        AUTOINC,
      </if>
      <if test="refCount != null" >
        REF_COUNT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tableId != null" >
        #{tableId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="statsInitialized != null" >
        #{statsInitialized,jdbcType=VARCHAR},
      </if>
      <if test="numRows != null" >
        #{numRows,jdbcType=BIGINT},
      </if>
      <if test="clustIndexSize != null" >
        #{clustIndexSize,jdbcType=BIGINT},
      </if>
      <if test="otherIndexSize != null" >
        #{otherIndexSize,jdbcType=BIGINT},
      </if>
      <if test="modifiedCounter != null" >
        #{modifiedCounter,jdbcType=BIGINT},
      </if>
      <if test="autoinc != null" >
        #{autoinc,jdbcType=BIGINT},
      </if>
      <if test="refCount != null" >
        #{refCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>