<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.sq.mappers.InnodbBufferStatsByTableMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.sq.entity.InnodbBufferStatsByTable" >
    <result column="pages" property="pages" jdbcType="BIGINT" />
    <result column="pages_hashed" property="pagesHashed" jdbcType="BIGINT" />
    <result column="pages_old" property="pagesOld" jdbcType="BIGINT" />
    <result column="rows_cached" property="rowsCached" jdbcType="DECIMAL" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.example.demo.sq.entity.InnodbBufferStatsByTableWithBLOBs" extends="BaseResultMap" >
    <result column="object_schema" property="objectSchema" jdbcType="LONGVARCHAR" />
    <result column="object_name" property="objectName" jdbcType="LONGVARCHAR" />
    <result column="allocated" property="allocated" jdbcType="LONGVARCHAR" />
    <result column="data" property="data" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Blob_Column_List" >
    object_schema, object_name, allocated, data
  </sql>
  <insert id="insert" parameterType="com.example.demo.sq.entity.InnodbBufferStatsByTableWithBLOBs" >
    insert into innodb_buffer_stats_by_table (pages, pages_hashed, pages_old, 
      rows_cached, object_schema, object_name, 
      allocated, data)
    values (#{pages,jdbcType=BIGINT}, #{pagesHashed,jdbcType=BIGINT}, #{pagesOld,jdbcType=BIGINT}, 
      #{rowsCached,jdbcType=DECIMAL}, #{objectSchema,jdbcType=LONGVARCHAR}, #{objectName,jdbcType=LONGVARCHAR}, 
      #{allocated,jdbcType=LONGVARCHAR}, #{data,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.sq.entity.InnodbBufferStatsByTableWithBLOBs" >
    insert into innodb_buffer_stats_by_table
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pages != null" >
        pages,
      </if>
      <if test="pagesHashed != null" >
        pages_hashed,
      </if>
      <if test="pagesOld != null" >
        pages_old,
      </if>
      <if test="rowsCached != null" >
        rows_cached,
      </if>
      <if test="objectSchema != null" >
        object_schema,
      </if>
      <if test="objectName != null" >
        object_name,
      </if>
      <if test="allocated != null" >
        allocated,
      </if>
      <if test="data != null" >
        data,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pages != null" >
        #{pages,jdbcType=BIGINT},
      </if>
      <if test="pagesHashed != null" >
        #{pagesHashed,jdbcType=BIGINT},
      </if>
      <if test="pagesOld != null" >
        #{pagesOld,jdbcType=BIGINT},
      </if>
      <if test="rowsCached != null" >
        #{rowsCached,jdbcType=DECIMAL},
      </if>
      <if test="objectSchema != null" >
        #{objectSchema,jdbcType=LONGVARCHAR},
      </if>
      <if test="objectName != null" >
        #{objectName,jdbcType=LONGVARCHAR},
      </if>
      <if test="allocated != null" >
        #{allocated,jdbcType=LONGVARCHAR},
      </if>
      <if test="data != null" >
        #{data,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>