<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.sq.mappers.MetadataLocksMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.sq.entity.MetadataLocks" >
    <result column="OBJECT_TYPE" property="objectType" jdbcType="VARCHAR" />
    <result column="OBJECT_SCHEMA" property="objectSchema" jdbcType="VARCHAR" />
    <result column="OBJECT_NAME" property="objectName" jdbcType="VARCHAR" />
    <result column="OBJECT_INSTANCE_BEGIN" property="objectInstanceBegin" jdbcType="BIGINT" />
    <result column="LOCK_TYPE" property="lockType" jdbcType="VARCHAR" />
    <result column="LOCK_DURATION" property="lockDuration" jdbcType="VARCHAR" />
    <result column="LOCK_STATUS" property="lockStatus" jdbcType="VARCHAR" />
    <result column="SOURCE" property="source" jdbcType="VARCHAR" />
    <result column="OWNER_THREAD_ID" property="ownerThreadId" jdbcType="BIGINT" />
    <result column="OWNER_EVENT_ID" property="ownerEventId" jdbcType="BIGINT" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.sq.entity.MetadataLocks" >
    insert into metadata_locks (OBJECT_TYPE, OBJECT_SCHEMA, OBJECT_NAME, 
      OBJECT_INSTANCE_BEGIN, LOCK_TYPE, LOCK_DURATION, 
      LOCK_STATUS, SOURCE, OWNER_THREAD_ID, 
      OWNER_EVENT_ID)
    values (#{objectType,jdbcType=VARCHAR}, #{objectSchema,jdbcType=VARCHAR}, #{objectName,jdbcType=VARCHAR}, 
      #{objectInstanceBegin,jdbcType=BIGINT}, #{lockType,jdbcType=VARCHAR}, #{lockDuration,jdbcType=VARCHAR}, 
      #{lockStatus,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, #{ownerThreadId,jdbcType=BIGINT}, 
      #{ownerEventId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.sq.entity.MetadataLocks" >
    insert into metadata_locks
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="objectType != null" >
        OBJECT_TYPE,
      </if>
      <if test="objectSchema != null" >
        OBJECT_SCHEMA,
      </if>
      <if test="objectName != null" >
        OBJECT_NAME,
      </if>
      <if test="objectInstanceBegin != null" >
        OBJECT_INSTANCE_BEGIN,
      </if>
      <if test="lockType != null" >
        LOCK_TYPE,
      </if>
      <if test="lockDuration != null" >
        LOCK_DURATION,
      </if>
      <if test="lockStatus != null" >
        LOCK_STATUS,
      </if>
      <if test="source != null" >
        SOURCE,
      </if>
      <if test="ownerThreadId != null" >
        OWNER_THREAD_ID,
      </if>
      <if test="ownerEventId != null" >
        OWNER_EVENT_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="objectType != null" >
        #{objectType,jdbcType=VARCHAR},
      </if>
      <if test="objectSchema != null" >
        #{objectSchema,jdbcType=VARCHAR},
      </if>
      <if test="objectName != null" >
        #{objectName,jdbcType=VARCHAR},
      </if>
      <if test="objectInstanceBegin != null" >
        #{objectInstanceBegin,jdbcType=BIGINT},
      </if>
      <if test="lockType != null" >
        #{lockType,jdbcType=VARCHAR},
      </if>
      <if test="lockDuration != null" >
        #{lockDuration,jdbcType=VARCHAR},
      </if>
      <if test="lockStatus != null" >
        #{lockStatus,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="ownerThreadId != null" >
        #{ownerThreadId,jdbcType=BIGINT},
      </if>
      <if test="ownerEventId != null" >
        #{ownerEventId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>