<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.sq.mappers.MyMainMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.sq.entity.MyMain" >
    <id column="main_id" property="mainId" jdbcType="VARCHAR" />
    <result column="main_title" property="mainTitle" jdbcType="VARCHAR" />
    <result column="main_creatime" property="mainCreatime" jdbcType="TIMESTAMP" />
    <result column="main_creatuser" property="mainCreatuser" jdbcType="VARCHAR" />
    <result column="main_commend" property="mainCommend" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.example.demo.sq.entity.MyMain" extends="BaseResultMap" >
    <result column="main_content" property="mainContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    main_id, main_title, main_creatime, main_creatuser, main_commend
  </sql>
  <sql id="Blob_Column_List" >
    main_content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from my_main
    where main_id = #{mainId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from my_main
    where main_id = #{mainId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.demo.sq.entity.MyMain" >
    insert into my_main (main_id, main_title, main_creatime, 
      main_creatuser, main_commend, main_content
      )
    values (#{mainId,jdbcType=VARCHAR}, #{mainTitle,jdbcType=VARCHAR}, #{mainCreatime,jdbcType=TIMESTAMP}, 
      #{mainCreatuser,jdbcType=VARCHAR}, #{mainCommend,jdbcType=INTEGER}, #{mainContent,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.sq.entity.MyMain" >
    insert into my_main
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mainId != null" >
        main_id,
      </if>
      <if test="mainTitle != null" >
        main_title,
      </if>
      <if test="mainCreatime != null" >
        main_creatime,
      </if>
      <if test="mainCreatuser != null" >
        main_creatuser,
      </if>
      <if test="mainCommend != null" >
        main_commend,
      </if>
      <if test="mainContent != null" >
        main_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mainId != null" >
        #{mainId,jdbcType=VARCHAR},
      </if>
      <if test="mainTitle != null" >
        #{mainTitle,jdbcType=VARCHAR},
      </if>
      <if test="mainCreatime != null" >
        #{mainCreatime,jdbcType=TIMESTAMP},
      </if>
      <if test="mainCreatuser != null" >
        #{mainCreatuser,jdbcType=VARCHAR},
      </if>
      <if test="mainCommend != null" >
        #{mainCommend,jdbcType=INTEGER},
      </if>
      <if test="mainContent != null" >
        #{mainContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.sq.entity.MyMain" >
    update my_main
    <set >
      <if test="mainTitle != null" >
        main_title = #{mainTitle,jdbcType=VARCHAR},
      </if>
      <if test="mainCreatime != null" >
        main_creatime = #{mainCreatime,jdbcType=TIMESTAMP},
      </if>
      <if test="mainCreatuser != null" >
        main_creatuser = #{mainCreatuser,jdbcType=VARCHAR},
      </if>
      <if test="mainCommend != null" >
        main_commend = #{mainCommend,jdbcType=INTEGER},
      </if>
      <if test="mainContent != null" >
        main_content = #{mainContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where main_id = #{mainId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.example.demo.sq.entity.MyMain" >
    update my_main
    set main_title = #{mainTitle,jdbcType=VARCHAR},
      main_creatime = #{mainCreatime,jdbcType=TIMESTAMP},
      main_creatuser = #{mainCreatuser,jdbcType=VARCHAR},
      main_commend = #{mainCommend,jdbcType=INTEGER},
      main_content = #{mainContent,jdbcType=LONGVARCHAR}
    where main_id = #{mainId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.sq.entity.MyMain" >
    update my_main
    set main_title = #{mainTitle,jdbcType=VARCHAR},
      main_creatime = #{mainCreatime,jdbcType=TIMESTAMP},
      main_creatuser = #{mainCreatuser,jdbcType=VARCHAR},
      main_commend = #{mainCommend,jdbcType=INTEGER}
    where main_id = #{mainId,jdbcType=VARCHAR}
  </update>
</mapper>