<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.sq.mappers.MySecondMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.sq.entity.MySecond" >
    <id column="sec_id" property="secId" jdbcType="VARCHAR" />
    <result column="main_id" property="mainId" jdbcType="VARCHAR" />
    <result column="sec_creatime" property="secCreatime" jdbcType="TIMESTAMP" />
    <result column="sec_creatuser" property="secCreatuser" jdbcType="VARCHAR" />
    <result column="sec_sequence" property="secSequence" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.example.demo.sq.entity.MySecond" extends="BaseResultMap" >
    <result column="sec_content" property="secContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    sec_id, main_id, sec_creatime, sec_creatuser, sec_sequence
  </sql>
  <sql id="Blob_Column_List" >
    sec_content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from my_second
    where sec_id = #{secId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from my_second
    where sec_id = #{secId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.demo.sq.entity.MySecond" >
    insert into my_second (sec_id, main_id, sec_creatime, 
      sec_creatuser, sec_sequence, sec_content
      )
    values (#{secId,jdbcType=VARCHAR}, #{mainId,jdbcType=VARCHAR}, #{secCreatime,jdbcType=TIMESTAMP}, 
      #{secCreatuser,jdbcType=VARCHAR}, #{secSequence,jdbcType=INTEGER}, #{secContent,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.sq.entity.MySecond" >
    insert into my_second
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="secId != null" >
        sec_id,
      </if>
      <if test="mainId != null" >
        main_id,
      </if>
      <if test="secCreatime != null" >
        sec_creatime,
      </if>
      <if test="secCreatuser != null" >
        sec_creatuser,
      </if>
      <if test="secSequence != null" >
        sec_sequence,
      </if>
      <if test="secContent != null" >
        sec_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="secId != null" >
        #{secId,jdbcType=VARCHAR},
      </if>
      <if test="mainId != null" >
        #{mainId,jdbcType=VARCHAR},
      </if>
      <if test="secCreatime != null" >
        #{secCreatime,jdbcType=TIMESTAMP},
      </if>
      <if test="secCreatuser != null" >
        #{secCreatuser,jdbcType=VARCHAR},
      </if>
      <if test="secSequence != null" >
        #{secSequence,jdbcType=INTEGER},
      </if>
      <if test="secContent != null" >
        #{secContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.sq.entity.MySecond" >
    update my_second
    <set >
      <if test="mainId != null" >
        main_id = #{mainId,jdbcType=VARCHAR},
      </if>
      <if test="secCreatime != null" >
        sec_creatime = #{secCreatime,jdbcType=TIMESTAMP},
      </if>
      <if test="secCreatuser != null" >
        sec_creatuser = #{secCreatuser,jdbcType=VARCHAR},
      </if>
      <if test="secSequence != null" >
        sec_sequence = #{secSequence,jdbcType=INTEGER},
      </if>
      <if test="secContent != null" >
        sec_content = #{secContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where sec_id = #{secId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.example.demo.sq.entity.MySecond" >
    update my_second
    set main_id = #{mainId,jdbcType=VARCHAR},
      sec_creatime = #{secCreatime,jdbcType=TIMESTAMP},
      sec_creatuser = #{secCreatuser,jdbcType=VARCHAR},
      sec_sequence = #{secSequence,jdbcType=INTEGER},
      sec_content = #{secContent,jdbcType=LONGVARCHAR}
    where sec_id = #{secId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.sq.entity.MySecond" >
    update my_second
    set main_id = #{mainId,jdbcType=VARCHAR},
      sec_creatime = #{secCreatime,jdbcType=TIMESTAMP},
      sec_creatuser = #{secCreatuser,jdbcType=VARCHAR},
      sec_sequence = #{secSequence,jdbcType=INTEGER}
    where sec_id = #{secId,jdbcType=VARCHAR}
  </update>
</mapper>