<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.sq.mappers.PluginsMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.sq.entity.Plugins" >
    <result column="PLUGIN_NAME" property="pluginName" jdbcType="VARCHAR" />
    <result column="PLUGIN_VERSION" property="pluginVersion" jdbcType="VARCHAR" />
    <result column="PLUGIN_STATUS" property="pluginStatus" jdbcType="VARCHAR" />
    <result column="PLUGIN_TYPE" property="pluginType" jdbcType="VARCHAR" />
    <result column="PLUGIN_TYPE_VERSION" property="pluginTypeVersion" jdbcType="VARCHAR" />
    <result column="PLUGIN_LIBRARY" property="pluginLibrary" jdbcType="VARCHAR" />
    <result column="PLUGIN_LIBRARY_VERSION" property="pluginLibraryVersion" jdbcType="VARCHAR" />
    <result column="PLUGIN_AUTHOR" property="pluginAuthor" jdbcType="VARCHAR" />
    <result column="PLUGIN_LICENSE" property="pluginLicense" jdbcType="VARCHAR" />
    <result column="LOAD_OPTION" property="loadOption" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.example.demo.sq.entity.Plugins" extends="BaseResultMap" >
    <result column="PLUGIN_DESCRIPTION" property="pluginDescription" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Blob_Column_List" >
    PLUGIN_DESCRIPTION
  </sql>
  <insert id="insert" parameterType="com.example.demo.sq.entity.Plugins" >
    insert into PLUGINS (PLUGIN_NAME, PLUGIN_VERSION, PLUGIN_STATUS, 
      PLUGIN_TYPE, PLUGIN_TYPE_VERSION, PLUGIN_LIBRARY, 
      PLUGIN_LIBRARY_VERSION, PLUGIN_AUTHOR, PLUGIN_LICENSE, 
      LOAD_OPTION, PLUGIN_DESCRIPTION)
    values (#{pluginName,jdbcType=VARCHAR}, #{pluginVersion,jdbcType=VARCHAR}, #{pluginStatus,jdbcType=VARCHAR}, 
      #{pluginType,jdbcType=VARCHAR}, #{pluginTypeVersion,jdbcType=VARCHAR}, #{pluginLibrary,jdbcType=VARCHAR}, 
      #{pluginLibraryVersion,jdbcType=VARCHAR}, #{pluginAuthor,jdbcType=VARCHAR}, #{pluginLicense,jdbcType=VARCHAR}, 
      #{loadOption,jdbcType=VARCHAR}, #{pluginDescription,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.sq.entity.Plugins" >
    insert into PLUGINS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pluginName != null" >
        PLUGIN_NAME,
      </if>
      <if test="pluginVersion != null" >
        PLUGIN_VERSION,
      </if>
      <if test="pluginStatus != null" >
        PLUGIN_STATUS,
      </if>
      <if test="pluginType != null" >
        PLUGIN_TYPE,
      </if>
      <if test="pluginTypeVersion != null" >
        PLUGIN_TYPE_VERSION,
      </if>
      <if test="pluginLibrary != null" >
        PLUGIN_LIBRARY,
      </if>
      <if test="pluginLibraryVersion != null" >
        PLUGIN_LIBRARY_VERSION,
      </if>
      <if test="pluginAuthor != null" >
        PLUGIN_AUTHOR,
      </if>
      <if test="pluginLicense != null" >
        PLUGIN_LICENSE,
      </if>
      <if test="loadOption != null" >
        LOAD_OPTION,
      </if>
      <if test="pluginDescription != null" >
        PLUGIN_DESCRIPTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pluginName != null" >
        #{pluginName,jdbcType=VARCHAR},
      </if>
      <if test="pluginVersion != null" >
        #{pluginVersion,jdbcType=VARCHAR},
      </if>
      <if test="pluginStatus != null" >
        #{pluginStatus,jdbcType=VARCHAR},
      </if>
      <if test="pluginType != null" >
        #{pluginType,jdbcType=VARCHAR},
      </if>
      <if test="pluginTypeVersion != null" >
        #{pluginTypeVersion,jdbcType=VARCHAR},
      </if>
      <if test="pluginLibrary != null" >
        #{pluginLibrary,jdbcType=VARCHAR},
      </if>
      <if test="pluginLibraryVersion != null" >
        #{pluginLibraryVersion,jdbcType=VARCHAR},
      </if>
      <if test="pluginAuthor != null" >
        #{pluginAuthor,jdbcType=VARCHAR},
      </if>
      <if test="pluginLicense != null" >
        #{pluginLicense,jdbcType=VARCHAR},
      </if>
      <if test="loadOption != null" >
        #{loadOption,jdbcType=VARCHAR},
      </if>
      <if test="pluginDescription != null" >
        #{pluginDescription,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>