<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.sq.mappers.SdycStudentStaisticMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.sq.entity.SdycStudentStaistic">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="submission" jdbcType="VARCHAR" property="submission" />
    <result column="subTime" jdbcType="TIMESTAMP" property="subtime" />
    <result column="studentNo" jdbcType="VARCHAR" property="studentno" />
    <result column="studentName" jdbcType="VARCHAR" property="studentname" />
    <result column="phoneNumber" jdbcType="VARCHAR" property="phonenumber" />
    <result column="universityCode" jdbcType="VARCHAR" property="universitycode" />
    <result column="college" jdbcType="VARCHAR" property="college" />
    <result column="specialities" jdbcType="VARCHAR" property="specialities" />
    <result column="emergeContact" jdbcType="VARCHAR" property="emergecontact" />
    <result column="emergeNum" jdbcType="VARCHAR" property="emergenum" />
    <result column="city14" jdbcType="VARCHAR" property="city14" />
    <result column="wuhan" jdbcType="VARCHAR" property="wuhan" />
    <result column="temperature" jdbcType="VARCHAR" property="temperature" />
    <result column="healthy" jdbcType="VARCHAR" property="healthy" />
    <result column="medicalAdvice" jdbcType="VARCHAR" property="medicaladvice" />
    <result column="feverPatients" jdbcType="VARCHAR" property="feverpatients" />
    <result column="isContact" jdbcType="VARCHAR" property="iscontact" />
  </resultMap>
  <sql id="Base_Column_List">
    id, submission, subTime, studentNo, studentName, phoneNumber, universityCode, college, 
    specialities, emergeContact, emergeNum, city14, wuhan, temperature, healthy, medicalAdvice, 
    feverPatients, isContact
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sdyc_student_staistic
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sdyc_student_staistic
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.sq.entity.SdycStudentStaistic">
    insert into sdyc_student_staistic (id, submission, subTime, 
      studentNo, studentName, phoneNumber, 
      universityCode, college, specialities, 
      emergeContact, emergeNum, city14, 
      wuhan, temperature, healthy, 
      medicalAdvice, feverPatients, isContact
      )
    values (#{id,jdbcType=INTEGER}, #{submission,jdbcType=VARCHAR}, #{subtime,jdbcType=TIMESTAMP}, 
      #{studentno,jdbcType=VARCHAR}, #{studentname,jdbcType=VARCHAR}, #{phonenumber,jdbcType=VARCHAR}, 
      #{universitycode,jdbcType=VARCHAR}, #{college,jdbcType=VARCHAR}, #{specialities,jdbcType=VARCHAR}, 
      #{emergecontact,jdbcType=VARCHAR}, #{emergenum,jdbcType=VARCHAR}, #{city14,jdbcType=VARCHAR}, 
      #{wuhan,jdbcType=VARCHAR}, #{temperature,jdbcType=VARCHAR}, #{healthy,jdbcType=VARCHAR}, 
      #{medicaladvice,jdbcType=VARCHAR}, #{feverpatients,jdbcType=VARCHAR}, #{iscontact,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.sq.entity.SdycStudentStaistic">
    insert into sdyc_student_staistic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="submission != null">
        submission,
      </if>
      <if test="subtime != null">
        subTime,
      </if>
      <if test="studentno != null">
        studentNo,
      </if>
      <if test="studentname != null">
        studentName,
      </if>
      <if test="phonenumber != null">
        phoneNumber,
      </if>
      <if test="universitycode != null">
        universityCode,
      </if>
      <if test="college != null">
        college,
      </if>
      <if test="specialities != null">
        specialities,
      </if>
      <if test="emergecontact != null">
        emergeContact,
      </if>
      <if test="emergenum != null">
        emergeNum,
      </if>
      <if test="city14 != null">
        city14,
      </if>
      <if test="wuhan != null">
        wuhan,
      </if>
      <if test="temperature != null">
        temperature,
      </if>
      <if test="healthy != null">
        healthy,
      </if>
      <if test="medicaladvice != null">
        medicalAdvice,
      </if>
      <if test="feverpatients != null">
        feverPatients,
      </if>
      <if test="iscontact != null">
        isContact,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="submission != null">
        #{submission,jdbcType=VARCHAR},
      </if>
      <if test="subtime != null">
        #{subtime,jdbcType=TIMESTAMP},
      </if>
      <if test="studentno != null">
        #{studentno,jdbcType=VARCHAR},
      </if>
      <if test="studentname != null">
        #{studentname,jdbcType=VARCHAR},
      </if>
      <if test="phonenumber != null">
        #{phonenumber,jdbcType=VARCHAR},
      </if>
      <if test="universitycode != null">
        #{universitycode,jdbcType=VARCHAR},
      </if>
      <if test="college != null">
        #{college,jdbcType=VARCHAR},
      </if>
      <if test="specialities != null">
        #{specialities,jdbcType=VARCHAR},
      </if>
      <if test="emergecontact != null">
        #{emergecontact,jdbcType=VARCHAR},
      </if>
      <if test="emergenum != null">
        #{emergenum,jdbcType=VARCHAR},
      </if>
      <if test="city14 != null">
        #{city14,jdbcType=VARCHAR},
      </if>
      <if test="wuhan != null">
        #{wuhan,jdbcType=VARCHAR},
      </if>
      <if test="temperature != null">
        #{temperature,jdbcType=VARCHAR},
      </if>
      <if test="healthy != null">
        #{healthy,jdbcType=VARCHAR},
      </if>
      <if test="medicaladvice != null">
        #{medicaladvice,jdbcType=VARCHAR},
      </if>
      <if test="feverpatients != null">
        #{feverpatients,jdbcType=VARCHAR},
      </if>
      <if test="iscontact != null">
        #{iscontact,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.sq.entity.SdycStudentStaistic">
    update sdyc_student_staistic
    <set>
      <if test="submission != null">
        submission = #{submission,jdbcType=VARCHAR},
      </if>
      <if test="subtime != null">
        subTime = #{subtime,jdbcType=TIMESTAMP},
      </if>
      <if test="studentno != null">
        studentNo = #{studentno,jdbcType=VARCHAR},
      </if>
      <if test="studentname != null">
        studentName = #{studentname,jdbcType=VARCHAR},
      </if>
      <if test="phonenumber != null">
        phoneNumber = #{phonenumber,jdbcType=VARCHAR},
      </if>
      <if test="universitycode != null">
        universityCode = #{universitycode,jdbcType=VARCHAR},
      </if>
      <if test="college != null">
        college = #{college,jdbcType=VARCHAR},
      </if>
      <if test="specialities != null">
        specialities = #{specialities,jdbcType=VARCHAR},
      </if>
      <if test="emergecontact != null">
        emergeContact = #{emergecontact,jdbcType=VARCHAR},
      </if>
      <if test="emergenum != null">
        emergeNum = #{emergenum,jdbcType=VARCHAR},
      </if>
      <if test="city14 != null">
        city14 = #{city14,jdbcType=VARCHAR},
      </if>
      <if test="wuhan != null">
        wuhan = #{wuhan,jdbcType=VARCHAR},
      </if>
      <if test="temperature != null">
        temperature = #{temperature,jdbcType=VARCHAR},
      </if>
      <if test="healthy != null">
        healthy = #{healthy,jdbcType=VARCHAR},
      </if>
      <if test="medicaladvice != null">
        medicalAdvice = #{medicaladvice,jdbcType=VARCHAR},
      </if>
      <if test="feverpatients != null">
        feverPatients = #{feverpatients,jdbcType=VARCHAR},
      </if>
      <if test="iscontact != null">
        isContact = #{iscontact,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.sq.entity.SdycStudentStaistic">
    update sdyc_student_staistic
    set submission = #{submission,jdbcType=VARCHAR},
      subTime = #{subtime,jdbcType=TIMESTAMP},
      studentNo = #{studentno,jdbcType=VARCHAR},
      studentName = #{studentname,jdbcType=VARCHAR},
      phoneNumber = #{phonenumber,jdbcType=VARCHAR},
      universityCode = #{universitycode,jdbcType=VARCHAR},
      college = #{college,jdbcType=VARCHAR},
      specialities = #{specialities,jdbcType=VARCHAR},
      emergeContact = #{emergecontact,jdbcType=VARCHAR},
      emergeNum = #{emergenum,jdbcType=VARCHAR},
      city14 = #{city14,jdbcType=VARCHAR},
      wuhan = #{wuhan,jdbcType=VARCHAR},
      temperature = #{temperature,jdbcType=VARCHAR},
      healthy = #{healthy,jdbcType=VARCHAR},
      medicalAdvice = #{medicaladvice,jdbcType=VARCHAR},
      feverPatients = #{feverpatients,jdbcType=VARCHAR},
      isContact = #{iscontact,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.example.demo.sq.entity.SdycStudentStaistic">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="submission" jdbcType="VARCHAR" property="submission" />
    <result column="subTime" jdbcType="TIMESTAMP" property="subtime" />
    <result column="studentNo" jdbcType="VARCHAR" property="studentno" />
    <result column="studentName" jdbcType="VARCHAR" property="studentname" />
    <result column="phoneNum" jdbcType="VARCHAR" property="phonenum" />
    <result column="universityCode" jdbcType="VARCHAR" property="universitycode" />
    <result column="college" jdbcType="VARCHAR" property="college" />
    <result column="specialities" jdbcType="VARCHAR" property="specialities" />
    <result column="emergeContact" jdbcType="VARCHAR" property="emergecontact" />
    <result column="emergeNum" jdbcType="VARCHAR" property="emergenum" />
    <result column="city14" jdbcType="VARCHAR" property="city14" />
    <result column="wuhan" jdbcType="VARCHAR" property="wuhan" />
    <result column="temperature" jdbcType="VARCHAR" property="temperature" />
    <result column="healthy" jdbcType="VARCHAR" property="healthy" />
    <result column="medicalAdvice" jdbcType="VARCHAR" property="medicaladvice" />
    <result column="feverPatients" jdbcType="VARCHAR" property="feverpatients" />
    <result column="isContact" jdbcType="VARCHAR" property="iscontact" />
  </resultMap>
  <sql id="Base_Column_List">
    id, submission, subTime, studentNo, studentName, phoneNum, universityCode, college, 
    specialities, emergeContact, emergeNum, city14, wuhan, temperature, healthy, medicalAdvice, 
    feverPatients, isContact
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sdyc_student_staistic
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sdyc_student_staistic
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.sq.entity.SdycStudentStaistic">
    insert into sdyc_student_staistic (id, submission, subTime, 
      studentNo, studentName, phoneNum, 
      universityCode, college, specialities, 
      emergeContact, emergeNum, city14, 
      wuhan, temperature, healthy, 
      medicalAdvice, feverPatients, isContact
      )
    values (#{id,jdbcType=INTEGER}, #{submission,jdbcType=VARCHAR}, #{subtime,jdbcType=TIMESTAMP}, 
      #{studentno,jdbcType=VARCHAR}, #{studentname,jdbcType=VARCHAR}, #{phonenum,jdbcType=VARCHAR}, 
      #{universitycode,jdbcType=VARCHAR}, #{college,jdbcType=VARCHAR}, #{specialities,jdbcType=VARCHAR}, 
      #{emergecontact,jdbcType=VARCHAR}, #{emergenum,jdbcType=VARCHAR}, #{city14,jdbcType=VARCHAR}, 
      #{wuhan,jdbcType=VARCHAR}, #{temperature,jdbcType=VARCHAR}, #{healthy,jdbcType=VARCHAR}, 
      #{medicaladvice,jdbcType=VARCHAR}, #{feverpatients,jdbcType=VARCHAR}, #{iscontact,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.sq.entity.SdycStudentStaistic">
    insert into sdyc_student_staistic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="submission != null">
        submission,
      </if>
      <if test="subtime != null">
        subTime,
      </if>
      <if test="studentno != null">
        studentNo,
      </if>
      <if test="studentname != null">
        studentName,
      </if>
      <if test="phonenum != null">
        phoneNum,
      </if>
      <if test="universitycode != null">
        universityCode,
      </if>
      <if test="college != null">
        college,
      </if>
      <if test="specialities != null">
        specialities,
      </if>
      <if test="emergecontact != null">
        emergeContact,
      </if>
      <if test="emergenum != null">
        emergeNum,
      </if>
      <if test="city14 != null">
        city14,
      </if>
      <if test="wuhan != null">
        wuhan,
      </if>
      <if test="temperature != null">
        temperature,
      </if>
      <if test="healthy != null">
        healthy,
      </if>
      <if test="medicaladvice != null">
        medicalAdvice,
      </if>
      <if test="feverpatients != null">
        feverPatients,
      </if>
      <if test="iscontact != null">
        isContact,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="submission != null">
        #{submission,jdbcType=VARCHAR},
      </if>
      <if test="subtime != null">
        #{subtime,jdbcType=TIMESTAMP},
      </if>
      <if test="studentno != null">
        #{studentno,jdbcType=VARCHAR},
      </if>
      <if test="studentname != null">
        #{studentname,jdbcType=VARCHAR},
      </if>
      <if test="phonenum != null">
        #{phonenum,jdbcType=VARCHAR},
      </if>
      <if test="universitycode != null">
        #{universitycode,jdbcType=VARCHAR},
      </if>
      <if test="college != null">
        #{college,jdbcType=VARCHAR},
      </if>
      <if test="specialities != null">
        #{specialities,jdbcType=VARCHAR},
      </if>
      <if test="emergecontact != null">
        #{emergecontact,jdbcType=VARCHAR},
      </if>
      <if test="emergenum != null">
        #{emergenum,jdbcType=VARCHAR},
      </if>
      <if test="city14 != null">
        #{city14,jdbcType=VARCHAR},
      </if>
      <if test="wuhan != null">
        #{wuhan,jdbcType=VARCHAR},
      </if>
      <if test="temperature != null">
        #{temperature,jdbcType=VARCHAR},
      </if>
      <if test="healthy != null">
        #{healthy,jdbcType=VARCHAR},
      </if>
      <if test="medicaladvice != null">
        #{medicaladvice,jdbcType=VARCHAR},
      </if>
      <if test="feverpatients != null">
        #{feverpatients,jdbcType=VARCHAR},
      </if>
      <if test="iscontact != null">
        #{iscontact,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.sq.entity.SdycStudentStaistic">
    update sdyc_student_staistic
    <set>
      <if test="submission != null">
        submission = #{submission,jdbcType=VARCHAR},
      </if>
      <if test="subtime != null">
        subTime = #{subtime,jdbcType=TIMESTAMP},
      </if>
      <if test="studentno != null">
        studentNo = #{studentno,jdbcType=VARCHAR},
      </if>
      <if test="studentname != null">
        studentName = #{studentname,jdbcType=VARCHAR},
      </if>
      <if test="phonenum != null">
        phoneNum = #{phonenum,jdbcType=VARCHAR},
      </if>
      <if test="universitycode != null">
        universityCode = #{universitycode,jdbcType=VARCHAR},
      </if>
      <if test="college != null">
        college = #{college,jdbcType=VARCHAR},
      </if>
      <if test="specialities != null">
        specialities = #{specialities,jdbcType=VARCHAR},
      </if>
      <if test="emergecontact != null">
        emergeContact = #{emergecontact,jdbcType=VARCHAR},
      </if>
      <if test="emergenum != null">
        emergeNum = #{emergenum,jdbcType=VARCHAR},
      </if>
      <if test="city14 != null">
        city14 = #{city14,jdbcType=VARCHAR},
      </if>
      <if test="wuhan != null">
        wuhan = #{wuhan,jdbcType=VARCHAR},
      </if>
      <if test="temperature != null">
        temperature = #{temperature,jdbcType=VARCHAR},
      </if>
      <if test="healthy != null">
        healthy = #{healthy,jdbcType=VARCHAR},
      </if>
      <if test="medicaladvice != null">
        medicalAdvice = #{medicaladvice,jdbcType=VARCHAR},
      </if>
      <if test="feverpatients != null">
        feverPatients = #{feverpatients,jdbcType=VARCHAR},
      </if>
      <if test="iscontact != null">
        isContact = #{iscontact,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.sq.entity.SdycStudentStaistic">
    update sdyc_student_staistic
    set submission = #{submission,jdbcType=VARCHAR},
      subTime = #{subtime,jdbcType=TIMESTAMP},
      studentNo = #{studentno,jdbcType=VARCHAR},
      studentName = #{studentname,jdbcType=VARCHAR},
      phoneNum = #{phonenum,jdbcType=VARCHAR},
      universityCode = #{universitycode,jdbcType=VARCHAR},
      college = #{college,jdbcType=VARCHAR},
      specialities = #{specialities,jdbcType=VARCHAR},
      emergeContact = #{emergecontact,jdbcType=VARCHAR},
      emergeNum = #{emergenum,jdbcType=VARCHAR},
      city14 = #{city14,jdbcType=VARCHAR},
      wuhan = #{wuhan,jdbcType=VARCHAR},
      temperature = #{temperature,jdbcType=VARCHAR},
      healthy = #{healthy,jdbcType=VARCHAR},
      medicalAdvice = #{medicaladvice,jdbcType=VARCHAR},
      feverPatients = #{feverpatients,jdbcType=VARCHAR},
      isContact = #{iscontact,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.example.demo.sq.entity.SdycStudentStaistic">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="submission" jdbcType="VARCHAR" property="submission" />
    <result column="subTime" jdbcType="TIMESTAMP" property="subtime" />
    <result column="studentNo" jdbcType="VARCHAR" property="studentno" />
    <result column="studentName" jdbcType="VARCHAR" property="studentname" />
    <result column="phoneNumber" jdbcType="VARCHAR" property="phonenumber" />
    <result column="universityCode" jdbcType="VARCHAR" property="universitycode" />
    <result column="college" jdbcType="VARCHAR" property="college" />
    <result column="specialities" jdbcType="VARCHAR" property="specialities" />
    <result column="emergeContact" jdbcType="VARCHAR" property="emergecontact" />
    <result column="emergeNum" jdbcType="VARCHAR" property="emergenum" />
    <result column="city14" jdbcType="VARCHAR" property="city14" />
    <result column="wuhan" jdbcType="VARCHAR" property="wuhan" />
    <result column="temperature" jdbcType="VARCHAR" property="temperature" />
    <result column="healthy" jdbcType="VARCHAR" property="healthy" />
    <result column="medicalAdvice" jdbcType="VARCHAR" property="medicaladvice" />
    <result column="feverPatients" jdbcType="VARCHAR" property="feverpatients" />
    <result column="isContact" jdbcType="VARCHAR" property="iscontact" />
  </resultMap>
  <sql id="Base_Column_List">
    id, submission, subTime, studentNo, studentName, phoneNumber, universityCode, college, 
    specialities, emergeContact, emergeNum, city14, wuhan, temperature, healthy, medicalAdvice, 
    feverPatients, isContact
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sdyc_student_staistic
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sdyc_student_staistic
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.sq.entity.SdycStudentStaistic">
    insert into sdyc_student_staistic (id, submission, subTime, 
      studentNo, studentName, phoneNumber, 
      universityCode, college, specialities, 
      emergeContact, emergeNum, city14, 
      wuhan, temperature, healthy, 
      medicalAdvice, feverPatients, isContact
      )
    values (#{id,jdbcType=INTEGER}, #{submission,jdbcType=VARCHAR}, #{subtime,jdbcType=TIMESTAMP}, 
      #{studentno,jdbcType=VARCHAR}, #{studentname,jdbcType=VARCHAR}, #{phonenumber,jdbcType=VARCHAR}, 
      #{universitycode,jdbcType=VARCHAR}, #{college,jdbcType=VARCHAR}, #{specialities,jdbcType=VARCHAR}, 
      #{emergecontact,jdbcType=VARCHAR}, #{emergenum,jdbcType=VARCHAR}, #{city14,jdbcType=VARCHAR}, 
      #{wuhan,jdbcType=VARCHAR}, #{temperature,jdbcType=VARCHAR}, #{healthy,jdbcType=VARCHAR}, 
      #{medicaladvice,jdbcType=VARCHAR}, #{feverpatients,jdbcType=VARCHAR}, #{iscontact,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.sq.entity.SdycStudentStaistic">
    insert into sdyc_student_staistic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="submission != null">
        submission,
      </if>
      <if test="subtime != null">
        subTime,
      </if>
      <if test="studentno != null">
        studentNo,
      </if>
      <if test="studentname != null">
        studentName,
      </if>
      <if test="phonenumber != null">
        phoneNumber,
      </if>
      <if test="universitycode != null">
        universityCode,
      </if>
      <if test="college != null">
        college,
      </if>
      <if test="specialities != null">
        specialities,
      </if>
      <if test="emergecontact != null">
        emergeContact,
      </if>
      <if test="emergenum != null">
        emergeNum,
      </if>
      <if test="city14 != null">
        city14,
      </if>
      <if test="wuhan != null">
        wuhan,
      </if>
      <if test="temperature != null">
        temperature,
      </if>
      <if test="healthy != null">
        healthy,
      </if>
      <if test="medicaladvice != null">
        medicalAdvice,
      </if>
      <if test="feverpatients != null">
        feverPatients,
      </if>
      <if test="iscontact != null">
        isContact,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="submission != null">
        #{submission,jdbcType=VARCHAR},
      </if>
      <if test="subtime != null">
        #{subtime,jdbcType=TIMESTAMP},
      </if>
      <if test="studentno != null">
        #{studentno,jdbcType=VARCHAR},
      </if>
      <if test="studentname != null">
        #{studentname,jdbcType=VARCHAR},
      </if>
      <if test="phonenumber != null">
        #{phonenumber,jdbcType=VARCHAR},
      </if>
      <if test="universitycode != null">
        #{universitycode,jdbcType=VARCHAR},
      </if>
      <if test="college != null">
        #{college,jdbcType=VARCHAR},
      </if>
      <if test="specialities != null">
        #{specialities,jdbcType=VARCHAR},
      </if>
      <if test="emergecontact != null">
        #{emergecontact,jdbcType=VARCHAR},
      </if>
      <if test="emergenum != null">
        #{emergenum,jdbcType=VARCHAR},
      </if>
      <if test="city14 != null">
        #{city14,jdbcType=VARCHAR},
      </if>
      <if test="wuhan != null">
        #{wuhan,jdbcType=VARCHAR},
      </if>
      <if test="temperature != null">
        #{temperature,jdbcType=VARCHAR},
      </if>
      <if test="healthy != null">
        #{healthy,jdbcType=VARCHAR},
      </if>
      <if test="medicaladvice != null">
        #{medicaladvice,jdbcType=VARCHAR},
      </if>
      <if test="feverpatients != null">
        #{feverpatients,jdbcType=VARCHAR},
      </if>
      <if test="iscontact != null">
        #{iscontact,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.sq.entity.SdycStudentStaistic">
    update sdyc_student_staistic
    <set>
      <if test="submission != null">
        submission = #{submission,jdbcType=VARCHAR},
      </if>
      <if test="subtime != null">
        subTime = #{subtime,jdbcType=TIMESTAMP},
      </if>
      <if test="studentno != null">
        studentNo = #{studentno,jdbcType=VARCHAR},
      </if>
      <if test="studentname != null">
        studentName = #{studentname,jdbcType=VARCHAR},
      </if>
      <if test="phonenumber != null">
        phoneNumber = #{phonenumber,jdbcType=VARCHAR},
      </if>
      <if test="universitycode != null">
        universityCode = #{universitycode,jdbcType=VARCHAR},
      </if>
      <if test="college != null">
        college = #{college,jdbcType=VARCHAR},
      </if>
      <if test="specialities != null">
        specialities = #{specialities,jdbcType=VARCHAR},
      </if>
      <if test="emergecontact != null">
        emergeContact = #{emergecontact,jdbcType=VARCHAR},
      </if>
      <if test="emergenum != null">
        emergeNum = #{emergenum,jdbcType=VARCHAR},
      </if>
      <if test="city14 != null">
        city14 = #{city14,jdbcType=VARCHAR},
      </if>
      <if test="wuhan != null">
        wuhan = #{wuhan,jdbcType=VARCHAR},
      </if>
      <if test="temperature != null">
        temperature = #{temperature,jdbcType=VARCHAR},
      </if>
      <if test="healthy != null">
        healthy = #{healthy,jdbcType=VARCHAR},
      </if>
      <if test="medicaladvice != null">
        medicalAdvice = #{medicaladvice,jdbcType=VARCHAR},
      </if>
      <if test="feverpatients != null">
        feverPatients = #{feverpatients,jdbcType=VARCHAR},
      </if>
      <if test="iscontact != null">
        isContact = #{iscontact,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.sq.entity.SdycStudentStaistic">
    update sdyc_student_staistic
    set submission = #{submission,jdbcType=VARCHAR},
      subTime = #{subtime,jdbcType=TIMESTAMP},
      studentNo = #{studentno,jdbcType=VARCHAR},
      studentName = #{studentname,jdbcType=VARCHAR},
      phoneNumber = #{phonenumber,jdbcType=VARCHAR},
      universityCode = #{universitycode,jdbcType=VARCHAR},
      college = #{college,jdbcType=VARCHAR},
      specialities = #{specialities,jdbcType=VARCHAR},
      emergeContact = #{emergecontact,jdbcType=VARCHAR},
      emergeNum = #{emergenum,jdbcType=VARCHAR},
      city14 = #{city14,jdbcType=VARCHAR},
      wuhan = #{wuhan,jdbcType=VARCHAR},
      temperature = #{temperature,jdbcType=VARCHAR},
      healthy = #{healthy,jdbcType=VARCHAR},
      medicalAdvice = #{medicaladvice,jdbcType=VARCHAR},
      feverPatients = #{feverpatients,jdbcType=VARCHAR},
      isContact = #{iscontact,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>