<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.sq.mappers.StudentoutMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.sq.entity.Studentout">
    <result column="no" jdbcType="VARCHAR" property="no" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="class" jdbcType="VARCHAR" property="class" />
    <result column="age" jdbcType="VARCHAR" property="age" />
    <result column="grade" jdbcType="VARCHAR" property="grade" />
    <result column="height" jdbcType="VARCHAR" property="height" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="insertTime" jdbcType="DATE" property="inserttime" />
    <result column="update" jdbcType="DATE" property="update" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.sq.entity.Studentout">
    insert into studentout (no, name, sex, 
      class, age, grade, 
      height, phone, insertTime, 
      update)
    values (#{no,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{class,jdbcType=VARCHAR}, #{age,jdbcType=VARCHAR}, #{grade,jdbcType=VARCHAR}, 
      #{height,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{inserttime,jdbcType=DATE}, 
      #{update,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.sq.entity.Studentout">
    insert into studentout
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="no != null">
        no,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="class != null">
        class,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="grade != null">
        grade,
      </if>
      <if test="height != null">
        height,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="inserttime != null">
        insertTime,
      </if>
      <if test="update != null">
        update,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="no != null">
        #{no,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="class != null">
        #{class,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="height != null">
        #{height,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="inserttime != null">
        #{inserttime,jdbcType=DATE},
      </if>
      <if test="update != null">
        #{update,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.example.demo.sq.entity.Studentout">
    <result column="学号" jdbcType="VARCHAR" property="学号" />
    <result column="姓名" jdbcType="VARCHAR" property="姓名" />
    <result column="性别" jdbcType="VARCHAR" property="性别" />
    <result column="班级" jdbcType="VARCHAR" property="班级" />
    <result column="年龄" jdbcType="VARCHAR" property="年龄" />
    <result column="成绩" jdbcType="VARCHAR" property="成绩" />
    <result column="身高" jdbcType="VARCHAR" property="身高" />
    <result column="手机" jdbcType="VARCHAR" property="手机" />
    <result column="插入时间" jdbcType="DATE" property="插入时间" />
    <result column="更新时间" jdbcType="DATE" property="更新时间" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.sq.entity.Studentout">
    insert into studentout (学号, 姓名, 性别, 班级, 
      年龄, 成绩, 身高, 手机, 
      插入时间, 更新时间)
    values (#{学号,jdbcType=VARCHAR}, #{姓名,jdbcType=VARCHAR}, #{性别,jdbcType=VARCHAR}, #{班级,jdbcType=VARCHAR}, 
      #{年龄,jdbcType=VARCHAR}, #{成绩,jdbcType=VARCHAR}, #{身高,jdbcType=VARCHAR}, #{手机,jdbcType=VARCHAR}, 
      #{插入时间,jdbcType=DATE}, #{更新时间,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.sq.entity.Studentout">
    insert into studentout
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="学号 != null">
        学号,
      </if>
      <if test="姓名 != null">
        姓名,
      </if>
      <if test="性别 != null">
        性别,
      </if>
      <if test="班级 != null">
        班级,
      </if>
      <if test="年龄 != null">
        年龄,
      </if>
      <if test="成绩 != null">
        成绩,
      </if>
      <if test="身高 != null">
        身高,
      </if>
      <if test="手机 != null">
        手机,
      </if>
      <if test="插入时间 != null">
        插入时间,
      </if>
      <if test="更新时间 != null">
        更新时间,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="学号 != null">
        #{学号,jdbcType=VARCHAR},
      </if>
      <if test="姓名 != null">
        #{姓名,jdbcType=VARCHAR},
      </if>
      <if test="性别 != null">
        #{性别,jdbcType=VARCHAR},
      </if>
      <if test="班级 != null">
        #{班级,jdbcType=VARCHAR},
      </if>
      <if test="年龄 != null">
        #{年龄,jdbcType=VARCHAR},
      </if>
      <if test="成绩 != null">
        #{成绩,jdbcType=VARCHAR},
      </if>
      <if test="身高 != null">
        #{身高,jdbcType=VARCHAR},
      </if>
      <if test="手机 != null">
        #{手机,jdbcType=VARCHAR},
      </if>
      <if test="插入时间 != null">
        #{插入时间,jdbcType=DATE},
      </if>
      <if test="更新时间 != null">
        #{更新时间,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.example.demo.sq.entity.Studentout">
    <result column="no" jdbcType="VARCHAR" property="no" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="class" jdbcType="VARCHAR" property="class" />
    <result column="age" jdbcType="VARCHAR" property="age" />
    <result column="grade" jdbcType="VARCHAR" property="grade" />
    <result column="height" jdbcType="VARCHAR" property="height" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="insertTime" jdbcType="DATE" property="inserttime" />
    <result column="update" jdbcType="DATE" property="update" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.sq.entity.Studentout">
    insert into studentout (no, name, sex, 
      class, age, grade, 
      height, phone, insertTime, 
      update)
    values (#{no,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{class,jdbcType=VARCHAR}, #{age,jdbcType=VARCHAR}, #{grade,jdbcType=VARCHAR}, 
      #{height,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{inserttime,jdbcType=DATE}, 
      #{update,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.sq.entity.Studentout">
    insert into studentout
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="no != null">
        no,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="class != null">
        class,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="grade != null">
        grade,
      </if>
      <if test="height != null">
        height,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="inserttime != null">
        insertTime,
      </if>
      <if test="update != null">
        update,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="no != null">
        #{no,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="class != null">
        #{class,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="height != null">
        #{height,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="inserttime != null">
        #{inserttime,jdbcType=DATE},
      </if>
      <if test="update != null">
        #{update,jdbcType=DATE},
      </if>
    </trim>
  </insert>
</mapper>