<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.sq.mappers.SysRoleMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.sq.entity.SysRole">
    <id column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="role_des" jdbcType="VARCHAR" property="roleDes" />
    <result column="role_pid" jdbcType="INTEGER" property="rolePid" />
  </resultMap>
  <sql id="Base_Column_List">
    role_id, role_name, role_des, role_pid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_role
    where role_id = #{roleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_role
    where role_id = #{roleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.sq.entity.SysRole">
    insert into sys_role (role_id, role_name, role_des, 
      role_pid)
    values (#{roleId,jdbcType=INTEGER}, #{roleName,jdbcType=VARCHAR}, #{roleDes,jdbcType=VARCHAR}, 
      #{rolePid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.sq.entity.SysRole">
    insert into sys_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        role_id,
      </if>
      <if test="roleName != null">
        role_name,
      </if>
      <if test="roleDes != null">
        role_des,
      </if>
      <if test="rolePid != null">
        role_pid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleDes != null">
        #{roleDes,jdbcType=VARCHAR},
      </if>
      <if test="rolePid != null">
        #{rolePid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.sq.entity.SysRole">
    update sys_role
    <set>
      <if test="roleName != null">
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleDes != null">
        role_des = #{roleDes,jdbcType=VARCHAR},
      </if>
      <if test="rolePid != null">
        role_pid = #{rolePid,jdbcType=INTEGER},
      </if>
    </set>
    where role_id = #{roleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.sq.entity.SysRole">
    update sys_role
    set role_name = #{roleName,jdbcType=VARCHAR},
      role_des = #{roleDes,jdbcType=VARCHAR},
      role_pid = #{rolePid,jdbcType=INTEGER}
    where role_id = #{roleId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.example.demo.sq.entity.SysRole">
    <id column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="role_des" jdbcType="VARCHAR" property="roleDes" />
    <result column="role_pid" jdbcType="INTEGER" property="rolePid" />
    <result column="role_group" jdbcType="VARCHAR" property="roleGroup" />
    <result column="role_groupname" jdbcType="VARCHAR" property="roleGroupname" />
  </resultMap>
  <sql id="Base_Column_List">
    role_id, role_name, role_des, role_pid, role_group, role_groupname
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_role
    where role_id = #{roleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_role
    where role_id = #{roleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.sq.entity.SysRole">
    insert into sys_role (role_id, role_name, role_des, 
      role_pid, role_group, role_groupname
      )
    values (#{roleId,jdbcType=INTEGER}, #{roleName,jdbcType=VARCHAR}, #{roleDes,jdbcType=VARCHAR}, 
      #{rolePid,jdbcType=INTEGER}, #{roleGroup,jdbcType=VARCHAR}, #{roleGroupname,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.sq.entity.SysRole">
    insert into sys_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        role_id,
      </if>
      <if test="roleName != null">
        role_name,
      </if>
      <if test="roleDes != null">
        role_des,
      </if>
      <if test="rolePid != null">
        role_pid,
      </if>
      <if test="roleGroup != null">
        role_group,
      </if>
      <if test="roleGroupname != null">
        role_groupname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleDes != null">
        #{roleDes,jdbcType=VARCHAR},
      </if>
      <if test="rolePid != null">
        #{rolePid,jdbcType=INTEGER},
      </if>
      <if test="roleGroup != null">
        #{roleGroup,jdbcType=VARCHAR},
      </if>
      <if test="roleGroupname != null">
        #{roleGroupname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.sq.entity.SysRole">
    update sys_role
    <set>
      <if test="roleName != null">
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleDes != null">
        role_des = #{roleDes,jdbcType=VARCHAR},
      </if>
      <if test="rolePid != null">
        role_pid = #{rolePid,jdbcType=INTEGER},
      </if>
      <if test="roleGroup != null">
        role_group = #{roleGroup,jdbcType=VARCHAR},
      </if>
      <if test="roleGroupname != null">
        role_groupname = #{roleGroupname,jdbcType=VARCHAR},
      </if>
    </set>
    where role_id = #{roleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.sq.entity.SysRole">
    update sys_role
    set role_name = #{roleName,jdbcType=VARCHAR},
      role_des = #{roleDes,jdbcType=VARCHAR},
      role_pid = #{rolePid,jdbcType=INTEGER},
      role_group = #{roleGroup,jdbcType=VARCHAR},
      role_groupname = #{roleGroupname,jdbcType=VARCHAR}
    where role_id = #{roleId,jdbcType=INTEGER}
  </update>
</mapper>