<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.sq.mappers.TablespacesMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.sq.entity.Tablespaces" >
    <result column="TABLESPACE_NAME" property="tablespaceName" jdbcType="VARCHAR" />
    <result column="ENGINE" property="engine" jdbcType="VARCHAR" />
    <result column="TABLESPACE_TYPE" property="tablespaceType" jdbcType="VARCHAR" />
    <result column="LOGFILE_GROUP_NAME" property="logfileGroupName" jdbcType="VARCHAR" />
    <result column="EXTENT_SIZE" property="extentSize" jdbcType="BIGINT" />
    <result column="AUTOEXTEND_SIZE" property="autoextendSize" jdbcType="BIGINT" />
    <result column="MAXIMUM_SIZE" property="maximumSize" jdbcType="BIGINT" />
    <result column="NODEGROUP_ID" property="nodegroupId" jdbcType="BIGINT" />
    <result column="TABLESPACE_COMMENT" property="tablespaceComment" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.sq.entity.Tablespaces" >
    insert into TABLESPACES (TABLESPACE_NAME, ENGINE, TABLESPACE_TYPE, 
      LOGFILE_GROUP_NAME, EXTENT_SIZE, AUTOEXTEND_SIZE, 
      MAXIMUM_SIZE, NODEGROUP_ID, TABLESPACE_COMMENT
      )
    values (#{tablespaceName,jdbcType=VARCHAR}, #{engine,jdbcType=VARCHAR}, #{tablespaceType,jdbcType=VARCHAR}, 
      #{logfileGroupName,jdbcType=VARCHAR}, #{extentSize,jdbcType=BIGINT}, #{autoextendSize,jdbcType=BIGINT}, 
      #{maximumSize,jdbcType=BIGINT}, #{nodegroupId,jdbcType=BIGINT}, #{tablespaceComment,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.sq.entity.Tablespaces" >
    insert into TABLESPACES
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tablespaceName != null" >
        TABLESPACE_NAME,
      </if>
      <if test="engine != null" >
        ENGINE,
      </if>
      <if test="tablespaceType != null" >
        TABLESPACE_TYPE,
      </if>
      <if test="logfileGroupName != null" >
        LOGFILE_GROUP_NAME,
      </if>
      <if test="extentSize != null" >
        EXTENT_SIZE,
      </if>
      <if test="autoextendSize != null" >
        AUTOEXTEND_SIZE,
      </if>
      <if test="maximumSize != null" >
        MAXIMUM_SIZE,
      </if>
      <if test="nodegroupId != null" >
        NODEGROUP_ID,
      </if>
      <if test="tablespaceComment != null" >
        TABLESPACE_COMMENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tablespaceName != null" >
        #{tablespaceName,jdbcType=VARCHAR},
      </if>
      <if test="engine != null" >
        #{engine,jdbcType=VARCHAR},
      </if>
      <if test="tablespaceType != null" >
        #{tablespaceType,jdbcType=VARCHAR},
      </if>
      <if test="logfileGroupName != null" >
        #{logfileGroupName,jdbcType=VARCHAR},
      </if>
      <if test="extentSize != null" >
        #{extentSize,jdbcType=BIGINT},
      </if>
      <if test="autoextendSize != null" >
        #{autoextendSize,jdbcType=BIGINT},
      </if>
      <if test="maximumSize != null" >
        #{maximumSize,jdbcType=BIGINT},
      </if>
      <if test="nodegroupId != null" >
        #{nodegroupId,jdbcType=BIGINT},
      </if>
      <if test="tablespaceComment != null" >
        #{tablespaceComment,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>