<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.sq.mappers.TimeZoneTransitionTypeMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.sq.entity.TimeZoneTransitionType" >
    <id column="Time_zone_id" property="timeZoneId" jdbcType="INTEGER" />
    <id column="Transition_type_id" property="transitionTypeId" jdbcType="INTEGER" />
    <result column="Offset" property="offset" jdbcType="INTEGER" />
    <result column="Is_DST" property="isDst" jdbcType="TINYINT" />
    <result column="Abbreviation" property="abbreviation" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Time_zone_id, Transition_type_id, Offset, Is_DST, Abbreviation
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.example.demo.sq.entity.TimeZoneTransitionTypeKey" >
    select 
    <include refid="Base_Column_List" />
    from time_zone_transition_type
    where Time_zone_id = #{timeZoneId,jdbcType=INTEGER}
      and Transition_type_id = #{transitionTypeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.example.demo.sq.entity.TimeZoneTransitionTypeKey" >
    delete from time_zone_transition_type
    where Time_zone_id = #{timeZoneId,jdbcType=INTEGER}
      and Transition_type_id = #{transitionTypeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.sq.entity.TimeZoneTransitionType" >
    insert into time_zone_transition_type (Time_zone_id, Transition_type_id, Offset, 
      Is_DST, Abbreviation)
    values (#{timeZoneId,jdbcType=INTEGER}, #{transitionTypeId,jdbcType=INTEGER}, #{offset,jdbcType=INTEGER}, 
      #{isDst,jdbcType=TINYINT}, #{abbreviation,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.sq.entity.TimeZoneTransitionType" >
    insert into time_zone_transition_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="timeZoneId != null" >
        Time_zone_id,
      </if>
      <if test="transitionTypeId != null" >
        Transition_type_id,
      </if>
      <if test="offset != null" >
        Offset,
      </if>
      <if test="isDst != null" >
        Is_DST,
      </if>
      <if test="abbreviation != null" >
        Abbreviation,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="timeZoneId != null" >
        #{timeZoneId,jdbcType=INTEGER},
      </if>
      <if test="transitionTypeId != null" >
        #{transitionTypeId,jdbcType=INTEGER},
      </if>
      <if test="offset != null" >
        #{offset,jdbcType=INTEGER},
      </if>
      <if test="isDst != null" >
        #{isDst,jdbcType=TINYINT},
      </if>
      <if test="abbreviation != null" >
        #{abbreviation,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.sq.entity.TimeZoneTransitionType" >
    update time_zone_transition_type
    <set >
      <if test="offset != null" >
        Offset = #{offset,jdbcType=INTEGER},
      </if>
      <if test="isDst != null" >
        Is_DST = #{isDst,jdbcType=TINYINT},
      </if>
      <if test="abbreviation != null" >
        Abbreviation = #{abbreviation,jdbcType=CHAR},
      </if>
    </set>
    where Time_zone_id = #{timeZoneId,jdbcType=INTEGER}
      and Transition_type_id = #{transitionTypeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.sq.entity.TimeZoneTransitionType" >
    update time_zone_transition_type
    set Offset = #{offset,jdbcType=INTEGER},
      Is_DST = #{isDst,jdbcType=TINYINT},
      Abbreviation = #{abbreviation,jdbcType=CHAR}
    where Time_zone_id = #{timeZoneId,jdbcType=INTEGER}
      and Transition_type_id = #{transitionTypeId,jdbcType=INTEGER}
  </update>
</mapper>