<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.sq.mappers.ViewsMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.sq.entity.Views" >
    <result column="TABLE_CATALOG" property="tableCatalog" jdbcType="VARCHAR" />
    <result column="TABLE_SCHEMA" property="tableSchema" jdbcType="VARCHAR" />
    <result column="TABLE_NAME" property="tableName" jdbcType="VARCHAR" />
    <result column="CHECK_OPTION" property="checkOption" jdbcType="VARCHAR" />
    <result column="IS_UPDATABLE" property="isUpdatable" jdbcType="VARCHAR" />
    <result column="DEFINER" property="definer" jdbcType="VARCHAR" />
    <result column="SECURITY_TYPE" property="securityType" jdbcType="VARCHAR" />
    <result column="CHARACTER_SET_CLIENT" property="characterSetClient" jdbcType="VARCHAR" />
    <result column="COLLATION_CONNECTION" property="collationConnection" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.example.demo.sq.entity.Views" extends="BaseResultMap" >
    <result column="VIEW_DEFINITION" property="viewDefinition" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Blob_Column_List" >
    VIEW_DEFINITION
  </sql>
  <insert id="insert" parameterType="com.example.demo.sq.entity.Views" >
    insert into VIEWS (TABLE_CATALOG, TABLE_SCHEMA, TABLE_NAME, 
      CHECK_OPTION, IS_UPDATABLE, DEFINER, 
      SECURITY_TYPE, CHARACTER_SET_CLIENT, COLLATION_CONNECTION, 
      VIEW_DEFINITION)
    values (#{tableCatalog,jdbcType=VARCHAR}, #{tableSchema,jdbcType=VARCHAR}, #{tableName,jdbcType=VARCHAR}, 
      #{checkOption,jdbcType=VARCHAR}, #{isUpdatable,jdbcType=VARCHAR}, #{definer,jdbcType=VARCHAR}, 
      #{securityType,jdbcType=VARCHAR}, #{characterSetClient,jdbcType=VARCHAR}, #{collationConnection,jdbcType=VARCHAR}, 
      #{viewDefinition,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.sq.entity.Views" >
    insert into VIEWS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tableCatalog != null" >
        TABLE_CATALOG,
      </if>
      <if test="tableSchema != null" >
        TABLE_SCHEMA,
      </if>
      <if test="tableName != null" >
        TABLE_NAME,
      </if>
      <if test="checkOption != null" >
        CHECK_OPTION,
      </if>
      <if test="isUpdatable != null" >
        IS_UPDATABLE,
      </if>
      <if test="definer != null" >
        DEFINER,
      </if>
      <if test="securityType != null" >
        SECURITY_TYPE,
      </if>
      <if test="characterSetClient != null" >
        CHARACTER_SET_CLIENT,
      </if>
      <if test="collationConnection != null" >
        COLLATION_CONNECTION,
      </if>
      <if test="viewDefinition != null" >
        VIEW_DEFINITION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tableCatalog != null" >
        #{tableCatalog,jdbcType=VARCHAR},
      </if>
      <if test="tableSchema != null" >
        #{tableSchema,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null" >
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="checkOption != null" >
        #{checkOption,jdbcType=VARCHAR},
      </if>
      <if test="isUpdatable != null" >
        #{isUpdatable,jdbcType=VARCHAR},
      </if>
      <if test="definer != null" >
        #{definer,jdbcType=VARCHAR},
      </if>
      <if test="securityType != null" >
        #{securityType,jdbcType=VARCHAR},
      </if>
      <if test="characterSetClient != null" >
        #{characterSetClient,jdbcType=VARCHAR},
      </if>
      <if test="collationConnection != null" >
        #{collationConnection,jdbcType=VARCHAR},
      </if>
      <if test="viewDefinition != null" >
        #{viewDefinition,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>