<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.sq.mappers.VJgJcxxMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.sq.entity.VJgJcxx" >
    <result column="jgh" property="jgh" jdbcType="VARCHAR" />
    <result column="dwh" property="dwh" jdbcType="VARCHAR" />
    <result column="DWMC" property="dwmc" jdbcType="VARCHAR" />
    <result column="xm" property="xm" jdbcType="VARCHAR" />
    <result column="xmpy" property="xmpy" jdbcType="VARCHAR" />
    <result column="cym" property="cym" jdbcType="VARCHAR" />
    <result column="xbm" property="xbm" jdbcType="VARCHAR" />
    <result column="csrq" property="csrq" jdbcType="VARCHAR" />
    <result column="Dwlb" property="dwlb" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.sq.entity.VJgJcxx" >
    insert into v_jg_jcxx (jgh, dwh, DWMC, 
      xm, xmpy, cym, xbm, 
      csrq, Dwlb)
    values (#{jgh,jdbcType=VARCHAR}, #{dwh,jdbcType=VARCHAR}, #{dwmc,jdbcType=VARCHAR}, 
      #{xm,jdbcType=VARCHAR}, #{xmpy,jdbcType=VARCHAR}, #{cym,jdbcType=VARCHAR}, #{xbm,jdbcType=VARCHAR}, 
      #{csrq,jdbcType=VARCHAR}, #{dwlb,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.sq.entity.VJgJcxx" >
    insert into v_jg_jcxx
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="jgh != null" >
        jgh,
      </if>
      <if test="dwh != null" >
        dwh,
      </if>
      <if test="dwmc != null" >
        DWMC,
      </if>
      <if test="xm != null" >
        xm,
      </if>
      <if test="xmpy != null" >
        xmpy,
      </if>
      <if test="cym != null" >
        cym,
      </if>
      <if test="xbm != null" >
        xbm,
      </if>
      <if test="csrq != null" >
        csrq,
      </if>
      <if test="dwlb != null" >
        Dwlb,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="jgh != null" >
        #{jgh,jdbcType=VARCHAR},
      </if>
      <if test="dwh != null" >
        #{dwh,jdbcType=VARCHAR},
      </if>
      <if test="dwmc != null" >
        #{dwmc,jdbcType=VARCHAR},
      </if>
      <if test="xm != null" >
        #{xm,jdbcType=VARCHAR},
      </if>
      <if test="xmpy != null" >
        #{xmpy,jdbcType=VARCHAR},
      </if>
      <if test="cym != null" >
        #{cym,jdbcType=VARCHAR},
      </if>
      <if test="xbm != null" >
        #{xbm,jdbcType=VARCHAR},
      </if>
      <if test="csrq != null" >
        #{csrq,jdbcType=VARCHAR},
      </if>
      <if test="dwlb != null" >
        #{dwlb,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>