<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.sq.mappers.VXgxtBzbYqWghCrdjMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.sq.entity.VXgxtBzbYqWghCrdj">
    <result column="pkey" jdbcType="VARCHAR" property="pkey" />
    <result column="userName" jdbcType="VARCHAR" property="username" />
    <result column="jcbz" jdbcType="VARCHAR" property="jcbz" />
    <result column="crtime" jdbcType="TIMESTAMP" property="crtime" />
    <result column="crdjrxm" jdbcType="VARCHAR" property="crdjrxm" />
    <result column="usertype" jdbcType="VARCHAR" property="usertype" />
    <result column="usernum" jdbcType="VARCHAR" property="usernum" />
    <result column="lybh" jdbcType="VARCHAR" property="lybh" />
    <result column="lymc" jdbcType="VARCHAR" property="lymc" />
    <result column="fjbh" jdbcType="VARCHAR" property="fjbh" />
    <result column="fgmc" jdbcType="VARCHAR" property="fgmc" />
    <result column="tw" jdbcType="VARCHAR" property="tw" />
    <result column="lydgj" jdbcType="VARCHAR" property="lydgj" />
    <result column="lydsf" jdbcType="VARCHAR" property="lydsf" />
    <result column="lydcs" jdbcType="VARCHAR" property="lydcs" />
    <result column="jtfs" jdbcType="VARCHAR" property="jtfs" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.sq.entity.VXgxtBzbYqWghCrdj">
    insert into v_xgxt_bzb_yq_wgh_crdj (pkey, userName, jcbz, 
      crtime, crdjrxm, usertype, 
      usernum, lybh, lymc, 
      fjbh, fgmc, tw, lydgj, 
      lydsf, lydcs, jtfs)
    values (#{pkey,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{jcbz,jdbcType=VARCHAR}, 
      #{crtime,jdbcType=TIMESTAMP}, #{crdjrxm,jdbcType=VARCHAR}, #{usertype,jdbcType=VARCHAR}, 
      #{usernum,jdbcType=VARCHAR}, #{lybh,jdbcType=VARCHAR}, #{lymc,jdbcType=VARCHAR}, 
      #{fjbh,jdbcType=VARCHAR}, #{fgmc,jdbcType=VARCHAR}, #{tw,jdbcType=VARCHAR}, #{lydgj,jdbcType=VARCHAR}, 
      #{lydsf,jdbcType=VARCHAR}, #{lydcs,jdbcType=VARCHAR}, #{jtfs,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.sq.entity.VXgxtBzbYqWghCrdj">
    insert into v_xgxt_bzb_yq_wgh_crdj
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pkey != null">
        pkey,
      </if>
      <if test="username != null">
        userName,
      </if>
      <if test="jcbz != null">
        jcbz,
      </if>
      <if test="crtime != null">
        crtime,
      </if>
      <if test="crdjrxm != null">
        crdjrxm,
      </if>
      <if test="usertype != null">
        usertype,
      </if>
      <if test="usernum != null">
        usernum,
      </if>
      <if test="lybh != null">
        lybh,
      </if>
      <if test="lymc != null">
        lymc,
      </if>
      <if test="fjbh != null">
        fjbh,
      </if>
      <if test="fgmc != null">
        fgmc,
      </if>
      <if test="tw != null">
        tw,
      </if>
      <if test="lydgj != null">
        lydgj,
      </if>
      <if test="lydsf != null">
        lydsf,
      </if>
      <if test="lydcs != null">
        lydcs,
      </if>
      <if test="jtfs != null">
        jtfs,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pkey != null">
        #{pkey,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="jcbz != null">
        #{jcbz,jdbcType=VARCHAR},
      </if>
      <if test="crtime != null">
        #{crtime,jdbcType=TIMESTAMP},
      </if>
      <if test="crdjrxm != null">
        #{crdjrxm,jdbcType=VARCHAR},
      </if>
      <if test="usertype != null">
        #{usertype,jdbcType=VARCHAR},
      </if>
      <if test="usernum != null">
        #{usernum,jdbcType=VARCHAR},
      </if>
      <if test="lybh != null">
        #{lybh,jdbcType=VARCHAR},
      </if>
      <if test="lymc != null">
        #{lymc,jdbcType=VARCHAR},
      </if>
      <if test="fjbh != null">
        #{fjbh,jdbcType=VARCHAR},
      </if>
      <if test="fgmc != null">
        #{fgmc,jdbcType=VARCHAR},
      </if>
      <if test="tw != null">
        #{tw,jdbcType=VARCHAR},
      </if>
      <if test="lydgj != null">
        #{lydgj,jdbcType=VARCHAR},
      </if>
      <if test="lydsf != null">
        #{lydsf,jdbcType=VARCHAR},
      </if>
      <if test="lydcs != null">
        #{lydcs,jdbcType=VARCHAR},
      </if>
      <if test="jtfs != null">
        #{jtfs,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.example.demo.sq.entity.VXgxtBzbYqWghCrdj">
    <result column="pkey" jdbcType="VARCHAR" property="pkey" />
    <result column="userName" jdbcType="VARCHAR" property="username" />
    <result column="jcbz" jdbcType="VARCHAR" property="jcbz" />
    <result column="crtime" jdbcType="TIMESTAMP" property="crtime" />
    <result column="crdjrxm" jdbcType="VARCHAR" property="crdjrxm" />
    <result column="usertype" jdbcType="VARCHAR" property="usertype" />
    <result column="usernum" jdbcType="VARCHAR" property="usernum" />
    <result column="lybh" jdbcType="VARCHAR" property="lybh" />
    <result column="lymc" jdbcType="VARCHAR" property="lymc" />
    <result column="fjbh" jdbcType="VARCHAR" property="fjbh" />
    <result column="fgmc" jdbcType="VARCHAR" property="fgmc" />
    <result column="tw" jdbcType="VARCHAR" property="tw" />
    <result column="lydgj" jdbcType="VARCHAR" property="lydgj" />
    <result column="lydsf" jdbcType="VARCHAR" property="lydsf" />
    <result column="lydcs" jdbcType="VARCHAR" property="lydcs" />
    <result column="jtfs" jdbcType="VARCHAR" property="jtfs" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.sq.entity.VXgxtBzbYqWghCrdj">
    insert into v_xgxt_bzb_yq_wgh_crdj (pkey, userName, jcbz, 
      crtime, crdjrxm, usertype, 
      usernum, lybh, lymc, 
      fjbh, fgmc, tw, lydgj, 
      lydsf, lydcs, jtfs)
    values (#{pkey,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{jcbz,jdbcType=VARCHAR}, 
      #{crtime,jdbcType=TIMESTAMP}, #{crdjrxm,jdbcType=VARCHAR}, #{usertype,jdbcType=VARCHAR}, 
      #{usernum,jdbcType=VARCHAR}, #{lybh,jdbcType=VARCHAR}, #{lymc,jdbcType=VARCHAR}, 
      #{fjbh,jdbcType=VARCHAR}, #{fgmc,jdbcType=VARCHAR}, #{tw,jdbcType=VARCHAR}, #{lydgj,jdbcType=VARCHAR}, 
      #{lydsf,jdbcType=VARCHAR}, #{lydcs,jdbcType=VARCHAR}, #{jtfs,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.sq.entity.VXgxtBzbYqWghCrdj">
    insert into v_xgxt_bzb_yq_wgh_crdj
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pkey != null">
        pkey,
      </if>
      <if test="username != null">
        userName,
      </if>
      <if test="jcbz != null">
        jcbz,
      </if>
      <if test="crtime != null">
        crtime,
      </if>
      <if test="crdjrxm != null">
        crdjrxm,
      </if>
      <if test="usertype != null">
        usertype,
      </if>
      <if test="usernum != null">
        usernum,
      </if>
      <if test="lybh != null">
        lybh,
      </if>
      <if test="lymc != null">
        lymc,
      </if>
      <if test="fjbh != null">
        fjbh,
      </if>
      <if test="fgmc != null">
        fgmc,
      </if>
      <if test="tw != null">
        tw,
      </if>
      <if test="lydgj != null">
        lydgj,
      </if>
      <if test="lydsf != null">
        lydsf,
      </if>
      <if test="lydcs != null">
        lydcs,
      </if>
      <if test="jtfs != null">
        jtfs,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pkey != null">
        #{pkey,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="jcbz != null">
        #{jcbz,jdbcType=VARCHAR},
      </if>
      <if test="crtime != null">
        #{crtime,jdbcType=TIMESTAMP},
      </if>
      <if test="crdjrxm != null">
        #{crdjrxm,jdbcType=VARCHAR},
      </if>
      <if test="usertype != null">
        #{usertype,jdbcType=VARCHAR},
      </if>
      <if test="usernum != null">
        #{usernum,jdbcType=VARCHAR},
      </if>
      <if test="lybh != null">
        #{lybh,jdbcType=VARCHAR},
      </if>
      <if test="lymc != null">
        #{lymc,jdbcType=VARCHAR},
      </if>
      <if test="fjbh != null">
        #{fjbh,jdbcType=VARCHAR},
      </if>
      <if test="fgmc != null">
        #{fgmc,jdbcType=VARCHAR},
      </if>
      <if test="tw != null">
        #{tw,jdbcType=VARCHAR},
      </if>
      <if test="lydgj != null">
        #{lydgj,jdbcType=VARCHAR},
      </if>
      <if test="lydsf != null">
        #{lydsf,jdbcType=VARCHAR},
      </if>
      <if test="lydcs != null">
        #{lydcs,jdbcType=VARCHAR},
      </if>
      <if test="jtfs != null">
        #{jtfs,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.example.demo.sq.entity.VXgxtBzbYqWghCrdj">
    <id column="PKEY" jdbcType="VARCHAR" property="pkey" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="JCBZ" jdbcType="VARCHAR" property="jcbz" />
    <result column="CRSJ" jdbcType="TIMESTAMP" property="crsj" />
    <result column="CRDJRXM" jdbcType="VARCHAR" property="crdjrxm" />
    <result column="USERTYPE" jdbcType="VARCHAR" property="usertype" />
    <result column="USERNUM" jdbcType="VARCHAR" property="usernum" />
    <result column="LYBH" jdbcType="VARCHAR" property="lybh" />
    <result column="LYMC" jdbcType="VARCHAR" property="lymc" />
    <result column="LYFZR" jdbcType="VARCHAR" property="lyfzr" />
    <result column="BZ" jdbcType="VARCHAR" property="bz" />
    <result column="LYRL" jdbcType="VARCHAR" property="lyrl" />
    <result column="XQBH" jdbcType="VARCHAR" property="xqbh" />
    <result column="FJBH" jdbcType="VARCHAR" property="fjbh" />
    <result column="FJMC" jdbcType="VARCHAR" property="fjmc" />
    <result column="FJFZR" jdbcType="VARCHAR" property="fjfzr" />
    <result column="LC" jdbcType="VARCHAR" property="lc" />
    <result column="LCFZR" jdbcType="VARCHAR" property="lcfzr" />
    <result column="FJBZ" jdbcType="VARCHAR" property="fjbz" />
    <result column="FJRL" jdbcType="VARCHAR" property="fjrl" />
    <result column="SFDY" jdbcType="VARCHAR" property="sfdy" />
    <result column="FJFZRXM" jdbcType="VARCHAR" property="fjfzrxm" />
    <result column="TW" jdbcType="VARCHAR" property="tw" />
    <result column="LYDGJ" jdbcType="VARCHAR" property="lydgj" />
    <result column="LYDSF" jdbcType="VARCHAR" property="lydsf" />
    <result column="LYDCS" jdbcType="VARCHAR" property="lydcs" />
    <result column="JTFS" jdbcType="VARCHAR" property="jtfs" />
  </resultMap>
  <sql id="Base_Column_List">
    PKEY, USERNAME, JCBZ, CRSJ, CRDJRXM, USERTYPE, USERNUM, LYBH, LYMC, LYFZR, BZ, LYRL, 
    XQBH, FJBH, FJMC, FJFZR, LC, LCFZR, FJBZ, FJRL, SFDY, FJFZRXM, TW, LYDGJ, LYDSF, 
    LYDCS, JTFS
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from v_xgxt_bzb_yq_wgh_crdj
    where PKEY = #{pkey,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from v_xgxt_bzb_yq_wgh_crdj
    where PKEY = #{pkey,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.demo.sq.entity.VXgxtBzbYqWghCrdj">
    insert into v_xgxt_bzb_yq_wgh_crdj (PKEY, USERNAME, JCBZ, 
      CRSJ, CRDJRXM, USERTYPE, 
      USERNUM, LYBH, LYMC, 
      LYFZR, BZ, LYRL, XQBH, 
      FJBH, FJMC, FJFZR, 
      LC, LCFZR, FJBZ, FJRL, 
      SFDY, FJFZRXM, TW, 
      LYDGJ, LYDSF, LYDCS, 
      JTFS)
    values (#{pkey,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{jcbz,jdbcType=VARCHAR}, 
      #{crsj,jdbcType=TIMESTAMP}, #{crdjrxm,jdbcType=VARCHAR}, #{usertype,jdbcType=VARCHAR}, 
      #{usernum,jdbcType=VARCHAR}, #{lybh,jdbcType=VARCHAR}, #{lymc,jdbcType=VARCHAR}, 
      #{lyfzr,jdbcType=VARCHAR}, #{bz,jdbcType=VARCHAR}, #{lyrl,jdbcType=VARCHAR}, #{xqbh,jdbcType=VARCHAR}, 
      #{fjbh,jdbcType=VARCHAR}, #{fjmc,jdbcType=VARCHAR}, #{fjfzr,jdbcType=VARCHAR}, 
      #{lc,jdbcType=VARCHAR}, #{lcfzr,jdbcType=VARCHAR}, #{fjbz,jdbcType=VARCHAR}, #{fjrl,jdbcType=VARCHAR}, 
      #{sfdy,jdbcType=VARCHAR}, #{fjfzrxm,jdbcType=VARCHAR}, #{tw,jdbcType=VARCHAR}, 
      #{lydgj,jdbcType=VARCHAR}, #{lydsf,jdbcType=VARCHAR}, #{lydcs,jdbcType=VARCHAR}, 
      #{jtfs,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.sq.entity.VXgxtBzbYqWghCrdj">
    insert into v_xgxt_bzb_yq_wgh_crdj
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pkey != null">
        PKEY,
      </if>
      <if test="username != null">
        USERNAME,
      </if>
      <if test="jcbz != null">
        JCBZ,
      </if>
      <if test="crsj != null">
        CRSJ,
      </if>
      <if test="crdjrxm != null">
        CRDJRXM,
      </if>
      <if test="usertype != null">
        USERTYPE,
      </if>
      <if test="usernum != null">
        USERNUM,
      </if>
      <if test="lybh != null">
        LYBH,
      </if>
      <if test="lymc != null">
        LYMC,
      </if>
      <if test="lyfzr != null">
        LYFZR,
      </if>
      <if test="bz != null">
        BZ,
      </if>
      <if test="lyrl != null">
        LYRL,
      </if>
      <if test="xqbh != null">
        XQBH,
      </if>
      <if test="fjbh != null">
        FJBH,
      </if>
      <if test="fjmc != null">
        FJMC,
      </if>
      <if test="fjfzr != null">
        FJFZR,
      </if>
      <if test="lc != null">
        LC,
      </if>
      <if test="lcfzr != null">
        LCFZR,
      </if>
      <if test="fjbz != null">
        FJBZ,
      </if>
      <if test="fjrl != null">
        FJRL,
      </if>
      <if test="sfdy != null">
        SFDY,
      </if>
      <if test="fjfzrxm != null">
        FJFZRXM,
      </if>
      <if test="tw != null">
        TW,
      </if>
      <if test="lydgj != null">
        LYDGJ,
      </if>
      <if test="lydsf != null">
        LYDSF,
      </if>
      <if test="lydcs != null">
        LYDCS,
      </if>
      <if test="jtfs != null">
        JTFS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pkey != null">
        #{pkey,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="jcbz != null">
        #{jcbz,jdbcType=VARCHAR},
      </if>
      <if test="crsj != null">
        #{crsj,jdbcType=TIMESTAMP},
      </if>
      <if test="crdjrxm != null">
        #{crdjrxm,jdbcType=VARCHAR},
      </if>
      <if test="usertype != null">
        #{usertype,jdbcType=VARCHAR},
      </if>
      <if test="usernum != null">
        #{usernum,jdbcType=VARCHAR},
      </if>
      <if test="lybh != null">
        #{lybh,jdbcType=VARCHAR},
      </if>
      <if test="lymc != null">
        #{lymc,jdbcType=VARCHAR},
      </if>
      <if test="lyfzr != null">
        #{lyfzr,jdbcType=VARCHAR},
      </if>
      <if test="bz != null">
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="lyrl != null">
        #{lyrl,jdbcType=VARCHAR},
      </if>
      <if test="xqbh != null">
        #{xqbh,jdbcType=VARCHAR},
      </if>
      <if test="fjbh != null">
        #{fjbh,jdbcType=VARCHAR},
      </if>
      <if test="fjmc != null">
        #{fjmc,jdbcType=VARCHAR},
      </if>
      <if test="fjfzr != null">
        #{fjfzr,jdbcType=VARCHAR},
      </if>
      <if test="lc != null">
        #{lc,jdbcType=VARCHAR},
      </if>
      <if test="lcfzr != null">
        #{lcfzr,jdbcType=VARCHAR},
      </if>
      <if test="fjbz != null">
        #{fjbz,jdbcType=VARCHAR},
      </if>
      <if test="fjrl != null">
        #{fjrl,jdbcType=VARCHAR},
      </if>
      <if test="sfdy != null">
        #{sfdy,jdbcType=VARCHAR},
      </if>
      <if test="fjfzrxm != null">
        #{fjfzrxm,jdbcType=VARCHAR},
      </if>
      <if test="tw != null">
        #{tw,jdbcType=VARCHAR},
      </if>
      <if test="lydgj != null">
        #{lydgj,jdbcType=VARCHAR},
      </if>
      <if test="lydsf != null">
        #{lydsf,jdbcType=VARCHAR},
      </if>
      <if test="lydcs != null">
        #{lydcs,jdbcType=VARCHAR},
      </if>
      <if test="jtfs != null">
        #{jtfs,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.sq.entity.VXgxtBzbYqWghCrdj">
    update v_xgxt_bzb_yq_wgh_crdj
    <set>
      <if test="username != null">
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="jcbz != null">
        JCBZ = #{jcbz,jdbcType=VARCHAR},
      </if>
      <if test="crsj != null">
        CRSJ = #{crsj,jdbcType=TIMESTAMP},
      </if>
      <if test="crdjrxm != null">
        CRDJRXM = #{crdjrxm,jdbcType=VARCHAR},
      </if>
      <if test="usertype != null">
        USERTYPE = #{usertype,jdbcType=VARCHAR},
      </if>
      <if test="usernum != null">
        USERNUM = #{usernum,jdbcType=VARCHAR},
      </if>
      <if test="lybh != null">
        LYBH = #{lybh,jdbcType=VARCHAR},
      </if>
      <if test="lymc != null">
        LYMC = #{lymc,jdbcType=VARCHAR},
      </if>
      <if test="lyfzr != null">
        LYFZR = #{lyfzr,jdbcType=VARCHAR},
      </if>
      <if test="bz != null">
        BZ = #{bz,jdbcType=VARCHAR},
      </if>
      <if test="lyrl != null">
        LYRL = #{lyrl,jdbcType=VARCHAR},
      </if>
      <if test="xqbh != null">
        XQBH = #{xqbh,jdbcType=VARCHAR},
      </if>
      <if test="fjbh != null">
        FJBH = #{fjbh,jdbcType=VARCHAR},
      </if>
      <if test="fjmc != null">
        FJMC = #{fjmc,jdbcType=VARCHAR},
      </if>
      <if test="fjfzr != null">
        FJFZR = #{fjfzr,jdbcType=VARCHAR},
      </if>
      <if test="lc != null">
        LC = #{lc,jdbcType=VARCHAR},
      </if>
      <if test="lcfzr != null">
        LCFZR = #{lcfzr,jdbcType=VARCHAR},
      </if>
      <if test="fjbz != null">
        FJBZ = #{fjbz,jdbcType=VARCHAR},
      </if>
      <if test="fjrl != null">
        FJRL = #{fjrl,jdbcType=VARCHAR},
      </if>
      <if test="sfdy != null">
        SFDY = #{sfdy,jdbcType=VARCHAR},
      </if>
      <if test="fjfzrxm != null">
        FJFZRXM = #{fjfzrxm,jdbcType=VARCHAR},
      </if>
      <if test="tw != null">
        TW = #{tw,jdbcType=VARCHAR},
      </if>
      <if test="lydgj != null">
        LYDGJ = #{lydgj,jdbcType=VARCHAR},
      </if>
      <if test="lydsf != null">
        LYDSF = #{lydsf,jdbcType=VARCHAR},
      </if>
      <if test="lydcs != null">
        LYDCS = #{lydcs,jdbcType=VARCHAR},
      </if>
      <if test="jtfs != null">
        JTFS = #{jtfs,jdbcType=VARCHAR},
      </if>
    </set>
    where PKEY = #{pkey,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.sq.entity.VXgxtBzbYqWghCrdj">
    update v_xgxt_bzb_yq_wgh_crdj
    set USERNAME = #{username,jdbcType=VARCHAR},
      JCBZ = #{jcbz,jdbcType=VARCHAR},
      CRSJ = #{crsj,jdbcType=TIMESTAMP},
      CRDJRXM = #{crdjrxm,jdbcType=VARCHAR},
      USERTYPE = #{usertype,jdbcType=VARCHAR},
      USERNUM = #{usernum,jdbcType=VARCHAR},
      LYBH = #{lybh,jdbcType=VARCHAR},
      LYMC = #{lymc,jdbcType=VARCHAR},
      LYFZR = #{lyfzr,jdbcType=VARCHAR},
      BZ = #{bz,jdbcType=VARCHAR},
      LYRL = #{lyrl,jdbcType=VARCHAR},
      XQBH = #{xqbh,jdbcType=VARCHAR},
      FJBH = #{fjbh,jdbcType=VARCHAR},
      FJMC = #{fjmc,jdbcType=VARCHAR},
      FJFZR = #{fjfzr,jdbcType=VARCHAR},
      LC = #{lc,jdbcType=VARCHAR},
      LCFZR = #{lcfzr,jdbcType=VARCHAR},
      FJBZ = #{fjbz,jdbcType=VARCHAR},
      FJRL = #{fjrl,jdbcType=VARCHAR},
      SFDY = #{sfdy,jdbcType=VARCHAR},
      FJFZRXM = #{fjfzrxm,jdbcType=VARCHAR},
      TW = #{tw,jdbcType=VARCHAR},
      LYDGJ = #{lydgj,jdbcType=VARCHAR},
      LYDSF = #{lydsf,jdbcType=VARCHAR},
      LYDCS = #{lydcs,jdbcType=VARCHAR},
      JTFS = #{jtfs,jdbcType=VARCHAR}
    where PKEY = #{pkey,jdbcType=VARCHAR}
  </update>
</mapper>