<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.sq.mappers.XHostSummaryByStatementTypeMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.sq.entity.XHostSummaryByStatementType" >
    <result column="host" property="host" jdbcType="VARCHAR" />
    <result column="statement" property="statement" jdbcType="VARCHAR" />
    <result column="total" property="total" jdbcType="BIGINT" />
    <result column="total_latency" property="totalLatency" jdbcType="BIGINT" />
    <result column="max_latency" property="maxLatency" jdbcType="BIGINT" />
    <result column="lock_latency" property="lockLatency" jdbcType="BIGINT" />
    <result column="rows_sent" property="rowsSent" jdbcType="BIGINT" />
    <result column="rows_examined" property="rowsExamined" jdbcType="BIGINT" />
    <result column="rows_affected" property="rowsAffected" jdbcType="BIGINT" />
    <result column="full_scans" property="fullScans" jdbcType="BIGINT" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.sq.entity.XHostSummaryByStatementType" >
    insert into x$host_summary_by_statement_type (host, statement, total, 
      total_latency, max_latency, lock_latency, 
      rows_sent, rows_examined, rows_affected, 
      full_scans)
    values (#{host,jdbcType=VARCHAR}, #{statement,jdbcType=VARCHAR}, #{total,jdbcType=BIGINT}, 
      #{totalLatency,jdbcType=BIGINT}, #{maxLatency,jdbcType=BIGINT}, #{lockLatency,jdbcType=BIGINT}, 
      #{rowsSent,jdbcType=BIGINT}, #{rowsExamined,jdbcType=BIGINT}, #{rowsAffected,jdbcType=BIGINT}, 
      #{fullScans,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.sq.entity.XHostSummaryByStatementType" >
    insert into x$host_summary_by_statement_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="host != null" >
        host,
      </if>
      <if test="statement != null" >
        statement,
      </if>
      <if test="total != null" >
        total,
      </if>
      <if test="totalLatency != null" >
        total_latency,
      </if>
      <if test="maxLatency != null" >
        max_latency,
      </if>
      <if test="lockLatency != null" >
        lock_latency,
      </if>
      <if test="rowsSent != null" >
        rows_sent,
      </if>
      <if test="rowsExamined != null" >
        rows_examined,
      </if>
      <if test="rowsAffected != null" >
        rows_affected,
      </if>
      <if test="fullScans != null" >
        full_scans,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="host != null" >
        #{host,jdbcType=VARCHAR},
      </if>
      <if test="statement != null" >
        #{statement,jdbcType=VARCHAR},
      </if>
      <if test="total != null" >
        #{total,jdbcType=BIGINT},
      </if>
      <if test="totalLatency != null" >
        #{totalLatency,jdbcType=BIGINT},
      </if>
      <if test="maxLatency != null" >
        #{maxLatency,jdbcType=BIGINT},
      </if>
      <if test="lockLatency != null" >
        #{lockLatency,jdbcType=BIGINT},
      </if>
      <if test="rowsSent != null" >
        #{rowsSent,jdbcType=BIGINT},
      </if>
      <if test="rowsExamined != null" >
        #{rowsExamined,jdbcType=BIGINT},
      </if>
      <if test="rowsAffected != null" >
        #{rowsAffected,jdbcType=BIGINT},
      </if>
      <if test="fullScans != null" >
        #{fullScans,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>