<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.sq.mappers.YqFxhealthCollectionMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.sq.entity.YqFxhealthCollection">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="school" jdbcType="VARCHAR" property="school" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_no" jdbcType="VARCHAR" property="userNo" />
    <result column="timestamp" jdbcType="DATE" property="timestamp" />
    <result column="heathinfo1" jdbcType="VARCHAR" property="heathinfo1" />
    <result column="heathinfo2" jdbcType="INTEGER" property="heathinfo2" />
    <result column="heathinfo3" jdbcType="INTEGER" property="heathinfo3" />
    <result column="is_quarantine" jdbcType="INTEGER" property="isQuarantine" />
    <result column="notes" jdbcType="VARCHAR" property="notes" />
    <result column="temperature" jdbcType="VARCHAR" property="temperature" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, school, user_name, user_no, timestamp, heathinfo1, heathinfo2, heathinfo3, is_quarantine, 
    notes, temperature, create_time
  </sql>
  <select id="getEntiCountDataInfo" resultType="java.util.Map">
        SELECT
        SUM(
        IF
        ( fx_addr_country != '中国', 1, 0 )) AS fromOtherCountry,
        SUM(
        IF
        ( fx_addr_city = '武汉市', 1, 0 )) AS fromWuHan,
        count( 1 ) AS focusObservation
    FROM
        (
        SELECT
            *
        FROM
            yq_fxhealth_collection AS tmp1
        WHERE
            tmp1.school = #{school}
        AND tmp1.heathinfo1 != '00001'and tmp1.id IN ( SELECT SUBSTRING_INDEX( group_concat( id ORDER BY `create_time` DESC ), ',', 1 ) FROM yq_fxhealth_collection GROUP BY user_no )) tmp2
        LEFT JOIN ( SELECT * FROM yq_fxdata_collection WHERE school = #{school} ) tmp3 ON tmp2.user_no = tmp3.user_no
    WHERE
        tmp2.school = #{school}
  </select>
  <select id="getPersionDataInfo" resultType="java.util.Map">
   SELECT
	create_time AS TIMESTAMP
FROM
	`yq_fxhealth_collection`
WHERE
	school = #{school} AND user_no=#{userNo} and heathinfo1!='00001';
  </select>
  <select id="getSysjDataInfo"  resultType="java.util.Map">
SELECT
	user_name AS userName,
	user_no AS userNo,
	`timestamp` AS TIMESTAMP
FROM
	`yq_fxhealth_collection`
WHERE
	school =#{school} and is_quarantine=1;
  </select>
  <select id="getYjxnsDataInfo" resultType="java.util.Map">
SELECT
	count( 1 ) AS count
FROM
	`yq_fxhealth_collection`
WHERE
	school =#{school}
	AND create_time > date_sub( NOW(), INTERVAL 1 DAY )
	AND heathinfo1 != '00001';
  </select>
  <select id="getYjxnDataInfo" resultType="java.util.Map">
SELECT
	heathinfo1,
TIMESTAMP
FROM
	`yq_fxhealth_collection`
WHERE
	school = #{school} and heathinfo1!='00001';

  </select>

  <select id="jkSubmit" resultType="com.example.demo.sq.entity.YqFxhealthCollection">
    SELECT school FROM `yq_fxhealth_collection` WHERE school=#{school} AND user_no=#{no} and heathinfo2 is not null AND timestamp>=CURDATE();
  </select>
  <select id="getHealthCollection" resultType="java.util.HashMap">
    SELECT count( 1 ) AS zdgcNum
    FROM
        yq_fxhealth_collection AS tmp1
    WHERE
        school = '山东英才学院' and tmp1.heathinfo1!='00001' and tmp1.id IN
            (
            SELECT
                SUBSTRING_INDEX( group_concat( id ORDER BY `create_time` DESC ), ',', 1 )
            FROM
                yq_fxhealth_collection
            GROUP BY user_no
            )
  </select>
  <select id="getFxdataInfo" resultType="java.util.Map">
    SELECT
	count( 1 ) AS zdgcNum
FROM
	yq_fxhealth_collection AS tmp1
WHERE
	school = #{school} and tmp1.heathinfo1 != '00001' and tmp1.id IN
	(SELECT
		SUBSTRING_INDEX( group_concat( id ORDER BY create_time DESC ), ',', 1 )
	FROM
		yq_fxhealth_collection
	GROUP BY
	user_no)
  </select>
  <select id="getYqFxhealthInfo" resultType="java.util.Map">
    select * from yq_fxhealth_collection
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yq_fxhealth_collection
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from yq_fxhealth_collection
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.sq.entity.YqFxhealthCollection">
    insert into yq_fxhealth_collection (id, school, user_name, 
      user_no, timestamp, heathinfo1, 
      heathinfo2, heathinfo3, is_quarantine, 
      notes, temperature, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{school,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{userNo,jdbcType=VARCHAR}, #{timestamp,jdbcType=DATE}, #{heathinfo1,jdbcType=VARCHAR}, 
      #{heathinfo2,jdbcType=INTEGER}, #{heathinfo3,jdbcType=INTEGER}, #{isQuarantine,jdbcType=INTEGER}, 
      #{notes,jdbcType=VARCHAR}, #{temperature,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="postYqjkinfo" parameterType="com.example.demo.sq.entity.YqFxhealthCollection">
    INSERT INTO yq_fxhealth_collection(school,user_name,user_no,timestamp,heathinfo1) VALUES(#{school}, #{username}, #{userno},#{fxtime},#{fxjk})
  </insert>
  <insert id="YqFxdataCollection" parameterType="com.example.demo.sq.entity.YqFxhealthCollection">
    INSERT INTO yq_fxhealth_collection(school,user_name,user_no,timestamp,heathinfo1)
    VALUES(#{school}, #{userName}, #{userNo},#{fxTime},#{fxjk})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.sq.entity.YqFxhealthCollection">
    insert into yq_fxhealth_collection
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="school != null">
        school,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userNo != null">
        user_no,
      </if>
      <if test="timestamp != null">
        timestamp,
      </if>
      <if test="heathinfo1 != null">
        heathinfo1,
      </if>
      <if test="heathinfo2 != null">
        heathinfo2,
      </if>
      <if test="heathinfo3 != null">
        heathinfo3,
      </if>
      <if test="isQuarantine != null">
        is_quarantine,
      </if>
      <if test="notes != null">
        notes,
      </if>
      <if test="temperature != null">
        temperature,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="school != null">
        #{school,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userNo != null">
        #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="timestamp != null">
        #{timestamp,jdbcType=DATE},
      </if>
      <if test="heathinfo1 != null">
        #{heathinfo1,jdbcType=VARCHAR},
      </if>
      <if test="heathinfo2 != null">
        #{heathinfo2,jdbcType=INTEGER},
      </if>
      <if test="heathinfo3 != null">
        #{heathinfo3,jdbcType=INTEGER},
      </if>
      <if test="isQuarantine != null">
        #{isQuarantine,jdbcType=INTEGER},
      </if>
      <if test="notes != null">
        #{notes,jdbcType=VARCHAR},
      </if>
      <if test="temperature != null">
        #{temperature,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.sq.entity.YqFxhealthCollection">
    update yq_fxhealth_collection
    <set>
      <if test="school != null">
        school = #{school,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userNo != null">
        user_no = #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="timestamp != null">
        timestamp = #{timestamp,jdbcType=DATE},
      </if>
      <if test="heathinfo1 != null">
        heathinfo1 = #{heathinfo1,jdbcType=VARCHAR},
      </if>
      <if test="heathinfo2 != null">
        heathinfo2 = #{heathinfo2,jdbcType=INTEGER},
      </if>
      <if test="heathinfo3 != null">
        heathinfo3 = #{heathinfo3,jdbcType=INTEGER},
      </if>
      <if test="isQuarantine != null">
        is_quarantine = #{isQuarantine,jdbcType=INTEGER},
      </if>
      <if test="notes != null">
        notes = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="temperature != null">
        temperature = #{temperature,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.sq.entity.YqFxhealthCollection">
    update yq_fxhealth_collection
    set school = #{school,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      user_no = #{userNo,jdbcType=VARCHAR},
      timestamp = #{timestamp,jdbcType=DATE},
      heathinfo1 = #{heathinfo1,jdbcType=VARCHAR},
      heathinfo2 = #{heathinfo2,jdbcType=INTEGER},
      heathinfo3 = #{heathinfo3,jdbcType=INTEGER},
      is_quarantine = #{isQuarantine,jdbcType=INTEGER},
      notes = #{notes,jdbcType=VARCHAR},
      temperature = #{temperature,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>