<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.sq.mappers.YqVisitinfoInfoMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.sq.entity.YqVisitinfoInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="school" jdbcType="VARCHAR" property="school" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="toname" jdbcType="VARCHAR" property="toname" />
    <result column="tophone" jdbcType="VARCHAR" property="tophone" />
    <result column="visitinfo" jdbcType="VARCHAR" property="visitinfo" />
  </resultMap>
  <sql id="Base_Column_List">
    id, school, name, phone, toname, tophone, visitinfo
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yq_visitinfo_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from yq_visitinfo_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.sq.entity.YqVisitinfoInfo">
    insert into yq_visitinfo_info (id, school, name, 
      phone, toname, tophone, 
      visitinfo)
    values (#{id,jdbcType=INTEGER}, #{school,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{toname,jdbcType=VARCHAR}, #{tophone,jdbcType=VARCHAR}, 
      #{visitinfo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.sq.entity.YqVisitinfoInfo">
    insert into yq_visitinfo_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="school != null">
        school,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="toname != null">
        toname,
      </if>
      <if test="tophone != null">
        tophone,
      </if>
      <if test="visitinfo != null">
        visitinfo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="school != null">
        #{school,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="toname != null">
        #{toname,jdbcType=VARCHAR},
      </if>
      <if test="tophone != null">
        #{tophone,jdbcType=VARCHAR},
      </if>
      <if test="visitinfo != null">
        #{visitinfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.sq.entity.YqVisitinfoInfo">
    update yq_visitinfo_info
    <set>
      <if test="school != null">
        school = #{school,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="toname != null">
        toname = #{toname,jdbcType=VARCHAR},
      </if>
      <if test="tophone != null">
        tophone = #{tophone,jdbcType=VARCHAR},
      </if>
      <if test="visitinfo != null">
        visitinfo = #{visitinfo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.sq.entity.YqVisitinfoInfo">
    update yq_visitinfo_info
    set school = #{school,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      toname = #{toname,jdbcType=VARCHAR},
      tophone = #{tophone,jdbcType=VARCHAR},
      visitinfo = #{visitinfo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>